.about {
  margin: 1em auto;
  max-width: 1100px;
  color: #333;

  @media (min-width: 740px) {
    display: flex;
    flex-direction: row;
  }
}


.about_column-image {
  margin-bottom: 1.0em;

  @media (min-width: 740px) {
    width: 50%;
    margin-left: 1.5em;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0em;
  }
}

.about_column-content {
  @media (min-width: 740px) {
    width: 50%;
    margin-right: 1.5em;
  }
}
