// FAQ-overview page

.faq-layout__title {
    color: $color-RO_darkblue;
    background: $color-RO_lightblue;
    padding: 0.6em 20px;
}

.content-block--faq-overview {
    .faq_sub {
        font-size: 1.375rem;
    }

    @media (min-width: 740px) {
        ul.faq-categories-block__list {
            margin-left: 0;
            display: block;

            .faq-categories__item {
                margin-bottom: 1rem;
            }
        }
    }
}

// was FAQ overview, is now sub-page list of FAQs

ul.faq-layout-contents__list {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    margin-left: 0em;
    // overflow: hidden;

    li {
        min-height: 50px;
        list-style-type: none;
        margin-bottom: 0px;
        margin-top: 1px;
    }

    li:last-child .faq-layout__item {
        border-bottom: 1px solid $color-lightgrey;
    }
}

a.faq-layout__item {
    position: relative;
    border-top: 1px solid $color-lightgrey;
    line-height: 22px;
    width: 100%;
    list-style-type: none;
    padding: 14px 0 14px 0px;
    font-size: 1rem;
    color: #333333;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-content: stretch;
    height: 100%;
    align-items: center;
    justify-content: space-between;

    span {
        z-index: 2;
    }

    br {
        display: none;
    }

    &:hover {
        background-color: $color-RO_darkblue;
        border-color: $color-RO_darkblue;
        color: white;

        &::before {
            content: " ";
            display: block;
            height: 100%;
            position: absolute;
            width: calc(100% + 2rem);
            background-color: #154273;
            transform: translateX(-1rem);
            border-top: 1px solid #154273;
            border-bottom: 1px solid #154273;
        }

        &::after {
            background: url(#{$file-path}img/chevron-right-white.svg) center center no-repeat;
        }
    }

    &:focus {
        outline-offset: -2px;
        margin-left: -20px;
        margin-right: -20px;
        padding: 14px 20px;
        width: calc(100% + 40px);
    }

    &::after {
        content: "";
        height: 40px;
        width: 13px;
        opacity: 0.62;
        border-radius: 2px;
        outline-offset: 8px;
        outline: 2px solid transparent;
        background: url(#{$file-path}img/chevron-right.svg) center center no-repeat;
        transition: var(--transition-out);
        display: flex;
        flex: 0 0 15px;
        align-self: center;
        justify-content: flex-end;
        margin-left: 20px;
    }
}
