.footer-samen {
    padding: 2.2rem 1.4rem 5rem 1.4em;
    max-width: 940px;
    flex-direction: column;

    @media (min-width: 740px) {
        padding: 3.2rem 1.4rem 2rem 1.4em;
        display: flex;
    }

    @media (min-width: 960px) {
        padding-top: 5em;
        margin: 0 auto;
    }
}

.footer-samen__logo {
    position: relative;

    > img {
        display: block;
        width: 100%;
        max-width: 350px;
        height: auto;
        margin: 0 auto;
        transition: var(--transition-out);
    }

    &:hover {
        img {
            transform: scale(1.06);
            transition: var(--transition-in);
        }
    }
}

//
// Phone footer
//

.footer-contact {
    padding: 2.2rem 1.4rem 2rem 1.4em;
    max-width: 940px;
    color: $color-coronacheck_black;
    font-size: 16px;
    margin-bottom: 2em;

    @media (min-width: 740px) {
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;
        font-size: 18px;
        margin: 0 auto;
    }

    a {
        text-decoration: underline;
        display: inline-block;
    }

    h2 {
        margin-bottom: 30px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        margin-bottom: 20px;
    }
}

.footer-contact__column-left {
    display: flex;
    flex-direction: column;
    flex: 0 0 33.333%;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.footer-contact__column-right {
    display: flex;
    flex-direction: column;

    p:empty {
        display: none;
    }
}

//
// Regular footer
//

.footer {
    background: #0e6999;

    *:focus {
        outline-color: $color-focus-footer;
    }

    *:focus-within:focus {
        outline-color: $color-focus-footer;
    }
}

.footer-inner {
    position: relative;
    padding: 1em;
    margin: 0 auto;
    max-width: 940px;
    font-size: 1em;
    line-height: 1em;
    color: #fff;

    @media (min-width: 740px) {
        margin-right: 1.6em;
        margin-left: 1.6em;
        padding-bottom: 2.5em;
    }

    @media (min-width: 960px) {
        margin: 4.8em auto 0 auto;
    }
}

.footer-links {
    font-size: 16px;
    line-height: 1.38em;

    a,
    a:visited {
        color: #fff;
        position: relative;
    }

    li > a:before {
        content: "";
        position: absolute;
        height: 10px;
        width: 10px;
        background: url(#{$file-path}img/chevron-right-white.svg) no-repeat 50% 50%;
        transition: var(--transition-out);
        display: inline-block;
        margin-right: 5px;
        top: 5px;
        left: -20px;
    }

    h2 {
        margin-top: 28px;
        color: #fff;
        margin-bottom: 20px;
        font-size: 20px;
    }

    h3 {
        color: #fff;
        margin: 0;
        font-size: 16px;
        margin-top: 32px;
        margin-bottom: 10px;
        font-size: 20px;

        @media (min-width: 740px) {
            font-size: 16px;
        }
    }

    p {
        margin-top: 0;
        margin-bottom: 20px;
    }

    ul li {
        list-style: none;
        margin-bottom: 0.4em;
        padding-left: 20px;

        a {
            display: block;
        }
    }

    @media (min-width: 960px) {
        display: flex;
    }
}

.footer-links--print-portal a {
    text-decoration: underline;
}

.footer-links-col {
    @media (min-width: 960px) {
        padding: 0 50px 0 0;
    }

    @media (min-width: 960px) {
        &.___desktop-33 {
            width: 33.3%;
        }

        &.___desktop-66 {
            width: 66.6%;
        }

        &.___desktop-50 {
            width: 50%;
        }

        &.___desktop-25 {
            width: 25%;
        }
    }
}

.footer-logos-info {
    margin-top: 0;
    font-size: 16px;

    @media (min-width: 960px) {
        margin-top: 28px;
    }
}
