
.footer-samen {
    padding: 2.2rem 1.4rem 5rem 1.4em;
    max-width: 940px;
    flex-direction: column;

    @media(min-width: 740px) {
        padding: 3.2rem 1.4rem 2rem 1.4em;
        display: flex;
    }

    @media(min-width: 960px) {
        padding-top: 5em;
        margin: 0 auto;
    }
}

.footer-samen__logo {
    position: relative;
   
    > img {
        display: block;
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        transition: var(--transition-out);
    }

    &:hover {
        img {
            transform: scale(1.06);
            transition: var(--transition-in);
        }
    }
}

.footer-samen__follow {
    margin-top: 2em;
    font-size: 1.4em;
    font-weight: 600;

    span.md-highlight {
        color: $color-coronacheck_blue;
    }

    @media (min-width: 740px) {
        margin-top: 0.5rem;
        margin-left: 2em;
    }

    @media (min-width: 960px) {
        margin-left: 120px;
        margin-top: 0.2rem;
        font-size: 32px;
    }
}

//
// Phone footer
//

.footer-phone {
    padding: 2.2rem 1.4rem 2rem 1.4em;
    max-width: 940px;
    color: $color-coronacheck_black;
    font-size: 16px;
    margin-bottom: 2em;

    @media(min-width: 740px) {
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;
        font-size: 18px;
        margin: 0 auto;
    }
}

.footer-phone--background {
    background-color: $color-RO_lightblue;

    a, a:visited { 
        color: $color-cc-link-darker;

        &:hover,
        &:focus {
          color: $color-cc-link-darker--interaction;
        }
    }
}

.footer-phone__column-left {
    display: flex;
    flex-direction: column;
    flex: 0 0 33.333%;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.footer-phone__column-right {
    display: flex;
    flex-direction: column;

    h3 {
        font-size: 18px;
    }
}

.footer-phone_text {
    display: block;
    font-weight: 800;
    font-size: 32px;
    line-height: 1.4;
}

.footer-phone_action_text {
    display: block;
    font-weight: 800;
    color: $color-cc-link-darker;
    font-size: 32px;
    margin-bottom: 0.5em;
    line-height: 1.4;
}

.footer-phonetimes {
    margin-bottom: 20px;
}


//
// Regular footer
//

.footer {
    background: #0E6999;

    *:focus {
        outline-color: $color-focus-footer;
    }

    *:focus-within:focus {
        outline-color: $color-focus-footer;
    }
}

.footer-inner {
    position: relative;
    padding: 1em;
    margin: 0 auto;
    max-width: 940px;
    font-size: 1em;
    line-height: 1em;
    color: #fff;
    
    @media (min-width: 740px) {
        margin-right: 1.6em;
        margin-left: 1.6em;
        padding-bottom: 2.5em;
    }
    
    @media (min-width: 960px) {
        margin: 4.8em auto 0 auto;
    }
    
    @media (min-width: 1200px) {
        //padding-bottom: 0.4em;
    }
}

.footer-links {
    font-size: 16px;
    line-height: 1.38em;
    
    a, a:visited {
        color: #fff;
        position: relative;
    }

    li > a:before {
        content: '';
        position: absolute;
        height: 10px;
        width: 10px;
        background: url(../img/chevron-right-white.svg) no-repeat 50% 50%;
        transition: var(--transition-out);
        display: inline-block;
        margin-right: 5px;
        top: 5px;
        left: -20px;
    }

    h3 {
        color: #fff;
        margin-top: 32px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    ul li {
        list-style: none;
        margin-bottom: 0.4em;
        padding-left: 20px;
        
        a {
            display: block;
        }
    }

    @media(min-width: 960px) {
        display: flex;
    }
}

.footer-links-col {
    @media(min-width: 960px) {
        padding: 0 50px 0 0;
    }

    @media(min-width: 960px) {
        &.___desktop-33 {
            // order: 2;
            width: 33.3%;
        }
        
        &.___desktop-66 {
            // order: 1;
            width: 66.6%;
        }

        &.___desktop-50 {
            // order: 2;
            width: 50%;
        }
        
        &.___desktop-25 {
            // order: 1;
            width: 25%;
        }
    }
}

.footer-logos-info {
    margin-top: 0;
    font-size: 16px;

    @media (min-width: 960px) {
        margin-top: 28px;
    }
}
