//
// Phone footer
//

.footer-contact {
    padding: 2.2rem 1.4rem 2rem 1.4em;
    max-width: 940px;
    color: $color-coronacheck_black;
    font-size: 1rem;
    margin-bottom: 2em;
    border-radius: 16px;

    @media (min-width: 740px) {
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;
        font-size: 1.125rem;
        margin: 0 auto 100px;
    }

    a {
        text-decoration: underline;
        display: inline-block;
    }

    h2 {
        margin-bottom: 30px;

        a {
            display: inline;
        }
    }

    h3 {
        font-size: 1rem;
    }

    p {
        margin-bottom: 20px;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.footer-contact__column-left {
    display: flex;
    flex-direction: column;
    flex: 0 0 224px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.footer-contact__column-right {
    display: flex;
    flex-direction: column;

    p:empty {
        display: none;
    }

    p br {
        display: none;
    }
}

//
// Regular footer
//

.footer {
    background: #0e6999;
    color: #fff;

    *:focus {
        outline-color: $color-focus-footer;
    }

    *:focus-within:focus {
        outline-color: $color-focus-footer;
    }
}

.scanner-0g {
    background: #0e6999;
}

.footer-inner {
    position: relative;
    padding: 1em;
    margin: 0 auto;
    max-width: 940px;
    font-size: 1em;
    line-height: 1em;

    @media (min-width: 740px) {
        margin-right: 1.6em;
        margin-left: 1.6em;
        padding-bottom: 2.5em;
    }

    @media (min-width: 960px) {
        margin: 0 auto 0 auto;
    }
}

.footer-links {
    font-size: 1rem;
    line-height: 1.38em;

    a,
    a:visited {
        color: #fff;
        position: relative;
    }

    li > a:before {
        content: "";
        position: absolute;
        height: 10px;
        width: 10px;
        background: url(#{$file-path}img/chevron-right-white.svg) no-repeat 50% 50%;
        transition: var(--transition-out);
        display: inline-block;
        margin-right: 5px;
        top: 5px;
        left: -20px;
    }

    h2 {
        margin-top: 28px;
        color: #fff;
        margin-bottom: 20px;
        font-size: 1.25rem;
    }

    h3 {
        color: #fff;
        margin: 0;
        font-size: 1rem;
        margin-top: 32px;
        margin-bottom: 10px;
        font-size: 1.25rem;

        @media (min-width: 740px) {
            font-size: 1rem;
        }
    }

    p {
        margin-top: 0;
        margin-bottom: 20px;
    }

    ul li {
        list-style: none;
        margin-bottom: 0.4em;
        padding-left: 20px;

        a {
            display: block;
        }
    }

    @media (min-width: 960px) {
        display: flex;
    }
}

.footer-links--print-portal {
    h3 {
        margin-top: 1rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-family: "RO Sans";
    }
    a {
        text-decoration: underline;
    }
}

.footer-links-col {
    @media (min-width: 960px) {
        padding: 0 50px 0 0;
    }

    @media (min-width: 960px) {
        &.___desktop-33 {
            width: 33.3%;
        }

        &.___desktop-66 {
            width: 66.6%;
        }

        &.___desktop-50 {
            width: 50%;
        }

        &.___desktop-25 {
            width: 25%;
        }
    }
}

.footer-logos-info {
    margin-top: 0;
    font-size: 1rem;

    @media (min-width: 960px) {
        margin-top: 28px;
    }
}

.footer-links .footer-attribution__title {
    margin-top: 2rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-family: "RO sans";
}

// new helpdesk footer

.helpdesk--faqs {
    width: 100%;
}

.helpdesk--faqs .footer-inner {
    padding-bottom: 0;
    padding-top: 2rem;

    @media (min-width: 740px) {
        padding-top: 100px;
    }
}

.helpdesk--faqs__content {
    display: flex;
    flex-direction: column;

    @media (min-width: 690px) {
        flex-direction: row;
    }

    h2 {
        margin-bottom: 1rem;
    }
}

.helpdesk--faqs__first {
    flex: 1 1 auto;
    padding: 0 1.4rem 2rem 0;
    line-height: 1.35;

    h3 {
        margin-top: 1rem;
        font-size: 1rem;
        font-family: "RO sans";
    }
}

.helpdesk--faqs__last {
    flex: 0 0 120px;
    margin-left: auto;
    align-self: flex-end;

    @media (min-width: 740px) {
        flex: 0 1 220px;
        margin-left: 45px;
    }

    @media (min-width: 940px) {
        flex: 0 1 310px;
        margin-left: 90px;
    }

    img {
        display: block;
        max-width: 120px;
        height: 100%;

        @media (min-width: 740px) {
            max-width: 220px;
            height: auto;
        }
    }
}

.faq-categories-block {
    width: 100%;
}

.faq-categories-block .footer-inner {
    padding-bottom: 0;
    padding-top: 2rem;

    @media (min-width: 740px) {
        padding-top: 100px;
    }
}

.faq-categories-block__list {
    margin-left: 0 !important;
    border-radius: 0px;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;

    @media (min-width: 740px) {
        display: flex;
        flex-wrap: wrap;
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-bottom: 5.75rem;
    }

    .faq-categories__item {
        list-style-type: none;
        margin-bottom: 1rem;

        @media (min-width: 740px) {
            flex: 0 1 48%;
            margin-bottom: 0px;
        }
    }

    .faq-categories__link {
        color: $color-coronacheck_black;
        background-color: $color-RO_lightblue;
        width: 100%;
        font-size: 1rem;
        border-radius: 0.75rem;
        text-decoration: none;
        font-weight: 700;
        display: flex;
        align-content: stretch;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 24px 16px;
        flex-wrap: wrap;

        &:hover {
            background-color: $color-RO_darkblue; /* RO donker link2 */
            transition: var(--transition-in);
            color: white;

            &:after {
                background: url(#{$file-path}img/chevron-right-white.svg) center center no-repeat;
            }
        }

        &:focus {
            outline-offset: -2px;
        }

        .faq-categories__image {
            display: none;

            @media (min-width: 265px) {
                width: 24px;
                margin-right: 1rem;
                justify-content: center;
                display: flex;
                align-content: center;
            }
        }

        .faq-categories__linktext {
            flex: 1 1 100px;
        }

        &:after {
            content: "";
            height: 11px;
            width: 13px;
            opacity: 0.62;
            border-radius: 2px;
            outline-offset: 8px;
            outline: 2px solid transparent;
            background: url(#{$file-path}img/chevron-right.svg) center center no-repeat;
            transition: var(--transition-out);
            display: flex;
            flex: 0 0 15px;
            align-self: center;
            justify-content: flex-end;
            margin-left: 20px;
        }
    }
}
