.print-version {
  background-color: #EFF7F9;
  margin: 0 auto;
  max-width: 1190px;
  color: #333;
  display: flex;
  
  @media (min-width: 740px) {
    width: calc(100% - (54px * 2));
  }
}

.print-version__column-image {
  display: none;
  overflow-y: hidden;
  flex: 1 1 200px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;

  @media (min-width: 520px) {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  @media (min-width: 680px) {
    flex: 0 0 50%;
    padding-left: 30px;
    padding-right: 80px;
    padding-top: 40px;
    flex-direction: row;
  }

  .print-version__image {
    box-shadow: 0 8px 24px 0 rgba(0,0,0,.15);
    max-width: 250px;
    width: 100%;
  }
}

.print-version__column-content {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  padding-top: 30px;

  @media (min-width: 680px) {
    margin-left: 0;
  }

  p {
    margin-bottom: 15px;

    @media (min-width: 680px) {
      margin-bottom: 40px;
    }
  }

  .btn {
    margin-right: auto;
    margin-bottom: 40px;

    @media (min-width: 680px) {
      margin-bottom: 0px;
    }
  }
}

.print-version__title {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;

  @media (min-width: 680px) {
    font-size: 22px;
  }
}
