.CoronaCheck_downloads {
    border-bottom: 1px solid $color-mediumgrey;
}

.number_highlight {
    color: $statistics;
    font-size: 1.5rem;
    font-weight: bold;
}

.graph {
    width: 100%;
    height: auto;
    margin: 16px 0;
    aspect-ratio: 48 / 32;
}
