.logobar {
    padding: 0 0 20px 0;
    z-index: 1;
    position: relative;

    @media (min-width: 740px) {
        padding-bottom: 45px;
    }

    @media (min-width: 960px) {
        padding-bottom: 50px;
    }
}

.logo {
    display: block;
    max-width: 50px;
    margin: 0 auto;

    img {
        display: block;
        width: 40px;
        height: auto;
        margin: 0 auto;
        margin-top: -20px;
    }

    @media (min-width: 740px) {
        width: 45px;
        margin-top: 0;
    }

    @media (min-width: 960px) {
        width: 50px;
    }
}

.header {
    position: relative;

    .header__title {
        font-size: 24px;
        font-weight: 800;

        @media (min-width: 825px) {
            font-size: 40px;
            line-height: 1.25;
        }
    }
}

.header__layout {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 30px;
    padding-right: 30px;
}

.header__layout--image {
    display: none;
    flex: 0 1 300px;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        position: relative;
        bottom: -10px;
    }
}

.header__layout--content {
    flex: 0 1 535px;
    padding: 30px 0;

    p {
        margin-top: 24px;
        margin-bottom: 40px;
    }
}

@media (min-width: 680px) {
    .header__layout {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-left: 30px;
        padding-right: 30px;
    }

    .header__layout--image {
        display: none;
        flex: 0 1 300px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            position: relative;
            bottom: -10px;
        }
    }

    .header__layout--content {
        flex: 0 1 535px;
        padding: 30px 0;

        p {
            margin-top: 24px;
            margin-bottom: 40px;
        }
    }

    @media (min-width: 680px) {
        .header__layout {
            padding-left: 0;
        }

        .header__layout--image {
            display: block;
            padding: 30px 0 0 30px;
        }

        .header__layout--content {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    @media (min-width: 960px) {
        .header__layout--content {
            padding-left: 105px;
            box-sizing: content-box;
        }
    }
}

// Slim header, used on subpages

.header--slim {
    min-height: 180px;
    padding: 0px 0 50px 0;
    color: #ffffff;
    background: linear-gradient(0deg, #1d73f6 38%, #26b3ef 130%);

    &::before,
    &::after {
        content: none;
    }

    .header__logo-badge {
        position: absolute;
        top: 15px;
        right: 30px;
        bottom: 0;
        z-index: 0;
        width: 80px;

        .browser-ie-11 & {
            right: 166px;
        }
    }

    @media (min-width: 740px) {
        min-height: 220px;
    }

    @media (min-width: 960px) {
        background: linear-gradient(0deg, #1d73f6 38%, #26b3ef 130%);
        &:before {
            content: none;
            background-image: none;
        }
        .header__logo-badge {
            /** Perfect alignment: width: of this element, width of the element above */
            width: 80px;
            right: calc((980px / -2) + calc(100% / 2));
            top: 15px;
        }
    }

    .header__title {
        padding-top: 30px;

        @media (min-width: 740px) {
            padding-left: 55px;
        }

        @media (min-width: 960px) {
            padding-left: 155px;
        }
    }

    .header__center {
        max-width: 940px;
        margin: 0 auto;
        padding: 0 20px;

        @media (min-width: 740px) {
            padding: 0 40px;
        }

        @media (min-width: 960px) {
            padding: 0 40px;
        }
    }
}

.header__logo-badge {
    width: 100px;
    margin: 0 0 1.5em;

    @media (min-width: 680px) {
        margin: 1.5em 0;
    }

    @media (min-width: 960px) {
        width: 132px;
        position: relative;
        float: left;
    }
}

.header__layout__faq-link {
    color: $color-RO_darkblue;
    position: absolute;
    top: 38px;
    right: 230px;
    min-width: 118px;
    font-weight: 800;
    font-size: 20px;
    display: none;

    @media (min-width: 960px) {
        display: inline-block;
    }

    [lang="bg"] & {
        right: 300px;
    }

    &:visited {
        color: $color-RO_darkblue;
    }
}

.header__layout__scanner-link {
    color: $color-RO_darkblue;
    position: absolute;
    top: 38px;
    // right: 450px;
    left: 30px;
    min-width: 118px;
    font-weight: 800;
    font-size: 20px;
    display: none;

    @media (min-width: 960px) {
        display: inline-block;
    }

    [lang="bg"] & {
        right: 300px;
    }

    &:visited {
        color: $color-RO_darkblue;
    }
}
