.logobar {
    padding: 0 0 20px 0;
    z-index: 1;
    position: relative;

    @media (min-width: 740px) {
        padding-bottom: 45px;
    }

    @media (min-width: 960px) {
        padding-bottom: 50px;
    }
}

.logo {
    display: block;
    max-width: 50px;
    margin: 0 auto;

    img {
        display: block;
        width: 40px;
        height: auto;
        margin: 0 auto;
    }

    @media (min-width: 740px) {
        width: 45px;
        margin-top: 0;
    }

    @media (min-width: 960px) {
        width: 50px;
    }

    a:focus img {
        outline: 2px solid #008fcd;
        outline-offset: 4px;
        transition: 100ms ease-out;
    }
}

.header {
    position: relative;

    .header__homelink {
        position: absolute;
        left: 20px;
        top: 42px;
        color: #154273;
        font-weight: 700;
        font-size: 1.25rem;
        text-decoration: none;
        padding: 4px;
        z-index: 2;

        @media (min-width: 740px) {
            top: 38px;
        }
    }

    @media (min-width: 740px) {
        .scanner-0g & {
            padding-bottom: 100px;
        }
    }

    .header__title {
        font-size: 1.5rem;
        font-weight: 800;

        @media (min-width: 825px) {
            font-size: 2.5rem;
            line-height: 1.25;
        }
    }
}

.header__layout--scanner {
    display: flex;
    justify-content: center;
    // align-items: flex-end;
    padding-left: 30px;
    padding-right: 30px;

    .header__layout--image {
        display: none;
        flex: 0 1 300px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            position: relative;
            bottom: -10px;

            .scanner-0g & {
                position: inherit;
                max-height: 275px;
            }
        }

        &:last-child {
            display: none;

            @media (min-width: 1440px) {
                display: block;
            }
        }
    }

    .header__layout--content {
        flex: 0 1 535px;
        padding: 30px 0;

        p {
            margin-top: 24px;
            margin-bottom: 0;
        }

        a:not(.btn) {
            text-decoration: underline;
        }

        .btn ~ .btn {
            margin-left: 1rem;
        }
    }

    @media (min-width: 680px) {
        & {
            display: flex;
            justify-content: center;
            padding: 0;
        }

        .header__layout--image {
            display: none;
            flex: 0 1 300px;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
                position: relative;
                bottom: -10px;
            }
        }

        .header__layout--content {
            flex: 0 1 535px;
            padding: 30px 0;

            p {
                margin-top: 24px;
            }
        }

        @media (min-width: 680px) {
            .header__layout {
                padding-left: 0;
            }

            .header__layout--image {
                display: flex;
                padding: 30px 0 0 30px;

                .scanner-0g & {
                    padding: 30px;
                }
            }

            .header__layout--content {
                padding-right: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 100px;

                .scanner-0g & {
                    padding-left: 0;
                }
            }
        }

        @media (min-width: 960px) {
            .header__layout--image {
                display: block;
                padding: 30px 0 0 0;
            }

            .header__layout--content {
                box-sizing: content-box;
            }
        }
    }
}

// Homepage, new

.hero {
    display: flex;
    flex-direction: column;

    @media (min-width: 960px) {
        flex-direction: row;
    }
}

.hero__content {
    padding: 30px;

    p {
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
    }

    .btn {
        margin-right: 1.5rem;
        margin-bottom: 0;

        & ~ .btn {
            margin-bottom: 0.5rem;
        }
    }

    @media (min-width: 960px) {
        padding: 30px 0 80px 0;
        flex: 0 1 60%;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }
}

.hero__image {
    padding: 30px;

    @media (max-width: 959px) {
        display: none;
    }

    @media (min-width: 960px) {
        padding: 30px 0 80px 0;
        flex: 1 1 35%;
        align-items: flex-end;
        justify-content: flex-end;
        display: flex;
    }

    img {
        width: 100%;
        height: auto;
    }
}

// Slim header, used on subpages

.header--slim {
    min-height: 250px;

    .logo {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 1;
    }

    .container {
        max-width: 940px;
        margin: 0 auto;
        width: 100%;
        height: 250px;
        z-index: 0;
    }

    .header__image {
        display: flex;
        align-items: flex-end;
        height: 100%;
    }

    .header__image img {
        display: block;
        height: auto;
        width: 100%;
        margin: 0 auto;
        height: 150px;

        @media (min-width: 740px) {
            margin-left: 60px;
            max-width: 343px;
        }
    }
}

.header__logo-badge {
    width: 100px;
    margin: 0 0 1.5em;

    @media (min-width: 680px) {
        margin: 1.5em 0;
    }

    @media (min-width: 960px) {
        width: 132px;
        position: relative;
        float: left;
    }
}

.header__quick-link {
    color: $color-RO_darkblue;
    position: absolute;
    top: 40px;
    right: 230px;
    min-width: 118px;
    font-weight: 800;
    font-size: 1.25rem;
    display: none;
    z-index: 1;

    @media (min-width: 960px) {
        display: block;
    }

    [lang="bg"] & {
        right: 300px;
    }

    &:visited {
        color: $color-RO_darkblue;
    }
}

.header__quick-link--scanner {
    display: none;

    @media (min-width: 1150px) {
        display: inline-block;
        margin-right: 30px;
    }
}
