.logobar {
    padding: 0 0 20px 0;
    z-index: 1;
    position: relative;

    @media (min-width: 740px) {
        padding-bottom: 45px;
    }

    @media (min-width: 960px) {
        padding-bottom: 50px;
    }
}

.logo {
    display: block;
    max-width: 50px;
    margin: 0 auto;

    img {
        display: block;
        width: 40px;
        height: auto;
        margin: 0 auto;
    }

    @media (min-width: 740px) {
        width: 45px;
        margin-top: 0;
    }

    @media (min-width: 960px) {
        width: 50px;
    }

    a:focus img {
        outline: 2px solid #008fcd;
        outline-offset: 4px;
        transition: 100ms ease-out;
    }
}

.header {
    position: relative;

    .header__homelink {
        position: absolute;
        left: 20px;
        top: 42px;
        color: #154273;
        font-weight: 700;
        font-size: 20px;
        text-decoration: none;
        padding: 4px;
        z-index: 1;

        @media (min-width: 740px) {
            top: 38px;
        }
    }

    .header__title {
        font-size: 24px;
        font-weight: 800;

        @media (min-width: 825px) {
            font-size: 40px;
            line-height: 1.25;
        }
    }
}

.header__layout {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 30px;
    padding-right: 30px;
}

.header__layout--image {
    display: none;
    flex: 0 1 300px;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        position: relative;
        bottom: -10px;
    }

    &:last-child {
        display: none;

        @media (min-width: 1440px) {
            position: absolute;
            right: -250px;
            display: block;
        }
    }
}

.header__layout--content {
    flex: 0 1 535px;
    padding: 30px 0;

    p {
        margin-top: 24px;
        margin-bottom: 40px;
    }

    a {
        text-decoration: underline;
    }
}

@media (min-width: 680px) {
    .header__layout {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-left: 30px;
        padding-right: 30px;
    }

    .header__layout--image {
        display: none;
        flex: 0 1 300px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            position: relative;
            bottom: -10px;
        }
    }

    .header__layout--content {
        flex: 0 1 535px;
        padding: 30px 0;

        p {
            margin-top: 24px;
            margin-bottom: 40px;
        }
    }

    @media (min-width: 680px) {
        .header__layout {
            padding-left: 0;
        }

        .header__layout--image {
            display: block;
            padding: 30px 0 0 30px;
        }

        .header__layout--content {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    @media (min-width: 960px) {
        .header__layout--content {
            padding-left: 105px;
            box-sizing: content-box;
        }
    }
}

// Slim header, used on subpages

.header--slim {
    min-height: 250px;

    .logo {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 1;
    }

    .container {
        max-width: 940px;
        margin: 0 auto;
        width: 100%;
        height: 250px;
        z-index: 0;
    }

    .header__image {
        display: flex;
        align-items: flex-end;
        height: 100%;
    }

    .header__image img {
        display: block;
        height: auto;
        width: 100%;
        margin: 0 auto;
        height: 150px;

        @media (min-width: 740px) {
            margin-left: 60px;
            max-width: 343px;
        }
    }

    &.offset-background {
        a,
        a:visited {
            color: $color-RO_darkblue;
            text-decoration: none;
        }

        a:hover {
            color: $color-RO_darkblue--interaction;
            text-decoration: underline;
        }
    }
}

.header__logo-badge {
    width: 100px;
    margin: 0 0 1.5em;

    @media (min-width: 680px) {
        margin: 1.5em 0;
    }

    @media (min-width: 960px) {
        width: 132px;
        position: relative;
        float: left;
    }
}

.header__quick-link {
    color: $color-RO_darkblue;
    position: absolute;
    top: 38px;
    right: 230px;
    min-width: 118px;
    font-weight: 800;
    font-size: 20px;
    display: none;
    z-index: 1;

    @media (min-width: 960px) {
        display: block;
    }

    [lang="bg"] & {
        right: 300px;
    }

    &:visited {
        color: $color-RO_darkblue;
    }
}

.header__quick-link--scanner {
    display: none;

    @media (min-width: 1150px) {
        display: inline-block;
        margin-right: 30px;
    }
}
