.faq-homepage {
    margin: 2em auto;
    
    @media (min-width: 740px) {
      margin: 4em auto;
    }
  }
  
  .faq-homepage__title {
    font-size: 32px;
    line-height: 40px;
    color: #333;
    margin-top: 14px;
    margin-bottom: 10px;
    color: $color-RO_darkblue;
    text-align: center;
    padding: 0 20px;

    @media (min-width: 740px) {
        margin-top: 80px;
        margin-bottom: 20px;
        padding: 0;
    }
  }
  
  .faq-homepage__more {
      margin: 30px 0;
      text-align: center;
      padding: 0 33px;
  
      @media (min-width: 740px) {
          margin-top: 20px 0;
      }
  
      @media (min-width: 960px) {
          margin: 40px 0;
      }
  }
  
  // Featured faq on homepage
  
  .highlighted-faqs {
      margin: 10px auto 22px auto;
      padding: 0 10px;
      max-width: 1190px;
  
      @media (min-width: 740px) {
          margin: 10px auto 22px auto;
          display: flex;
          flex-wrap: wrap;
          padding: 0 40px;
          margin-bottom: -16px; // Compensate for statement tile margins
      }
  
      @media (min-width: 960px) {
          padding: 0 64px;
      }
  }
  
  .highlighted-faq {
      margin: 16px;
      flex-grow: 0;
      position: relative;
  
      @media (min-width: 740px) {
          width: calc(50% - 32px);
      }
  
      @media (min-width: 960px) {
          width: calc(33.333% - 32px);
      }
  }
  
  .highlighted-faq__summary {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
      list-style-type: none;
      color: #333333;
      min-height: 138px;
      border-radius: 12px;
      box-shadow: 0 2px 9px -2px rgba(0, 0, 0, 0.2);
      background-color: #FFFFFF;
      overflow: hidden;
  
      html.browser-ie-11 & {
          box-shadow: 0 2px 20px -2px rgba(0, 0, 0, 0.26);
      }
  
      &:hover {
          background-color: #F5F5F5 /* lichtgrijs */;
      }
    }
  
    .highlighted-faq__title {
      flex: 1 1 auto;
      padding: 30px 33px;
  
      p {
          line-height: 1.38em;
          margin-bottom: 1.2rem;
      }
  }
  
  .highlighted-faq__summary__btn-expand {
      flex: 0 0 auto;
      display: block;
      border: 0;
      border-radius: 0;
      width: 100%;
      padding: 0.8em 35px 1em 34px;
      margin: 0;
      color: $color-coronacheck-link;
      background: transparent;
      font-size: 1.1em;
      font-family: inherit;
      text-align: left;
      cursor: pointer;
  
      &:after {
          // Make the whole .highlighted-faq__summary clickable
          content: '';
          position: absolute;
          display: block;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
      }
  
      &:focus {
          color: #fff;
          background-color: $color-coronacheck_blue;
          transition: var(--transition-in--fast);
          outline: 0;
      }
  
      > .icon {
          position: relative;
          top: 1px;
          margin: 0 -0.4em 0 -0.4em;
      }
  }
  
  .highlighted-faq__summary__icon {
      position: absolute;
      top: 23px;
      left: 23px;
      
      svg {
          max-width: 46px;
          color: $color-coronacheck_blue;
  
          .highlighted-faq__summary:hover & {
              color: $color-RO_darkblue--interaction;
          }
      }
  }
  