.banner:empty {
    display: none;
}

.banner {
    font-size: 1rem;
    line-height: 1.42;
    padding: 30px 30px;
    background-color: $color-RO_lightblue;
    max-width: 940px;
    margin: 30px 20px;

    a {
        text-decoration: underline;
    }

    h2,
    h3 {
        color: $color-coronacheck_black;
        margin-bottom: 1em;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        &:first-child {
            margin-top: 0;
        }
    }

    @media (min-width: 940px) {
        margin: 30px auto;

        h2 {
            font-size: 1.5rem;
        }
    }

    ul {
        margin-left: 16px;
    }

    ul:not(:last-child) {
        margin-bottom: 15px;
    }

    .screen-reader-text + p {
        margin-top: 0;
    }
}
