.scanner-instructions {
    margin: 1em auto;
    max-width: 940px;
    color: #333;

    a {
        text-decoration: underline;
    }
}

.scanner-instructions__title {
    margin: 0 0 0.5em;
    font-size: 30px;
}

.scanner-instructions__step {
    padding: 0em 1.6em 2em;
    margin: 16px 0;
    padding-bottom: 16px;

    @media (min-width: 740px) {
        padding: 2em 0.5em;
        margin: 30px auto 5em auto;
        display: flex;
        justify-content: space-between;
    }
}

.scanner-instructions__column-image {
    margin-bottom: 1em;

    @media (min-width: 740px) {
        width: 50%;
        text-align: right;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 0em;
        margin-left: 1.5em;
    }
}

.scanner-instructions__column-content {
    @media (min-width: 740px) {
        width: 50%;
        margin-right: 1.5em;
        margin-left: 4.5em;
    }
}

.scanner-instructions__image {
    display: inline-block;
    width: 100%;

    @media (min-width: 740px) {
        max-width: 380px;
        width: 150px;
        height: auto;
    }
}

.scanner-instructions__step:nth-child(3n) {
    .scanner-instructions__image {
        @media (min-width: 740px) {
            width: 340px;
        }
    }
}

.scanner-instructions__title__highlight {
    color: $color-coronacheck_blue;
    font-size: 16px;
    padding: 0.6em 0 0;
    display: block;

    @media (min-width: 740px) {
        padding: 0.8em 0;
    }
}

.scanner-instructions__title {
    color: $color-coronacheck_black;
    font-size: 24px;
    padding: 0.1em 0 0.4em;
    font-weight: 800;
    display: block;
    text-align: left;

    @media (min-width: 740px) {
        font-size: 32px;
    }
}

.scanner-instructions__text {
    line-height: 1.38em;

    p {
        margin-bottom: 1.2rem;
    }
}
