.about {
  margin: 0 auto;
  max-width: 1190px;
  color: #333;

  @media (min-width: 740px) {
    width: calc(100% - (54px * 2));
    display: flex;
  }
}

.about__column-image {
  padding: 30px;
  display: flex;
  justify-content: flex-end;

  @media (min-width: 740px) {
    flex: 0 0 50%;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    flex-direction: row;
  }

  .about__image {
    max-width: 250px;
    width: 100%;
  }
}

.about__column-content {
  padding: 0 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;

  @media (min-width: 740px) {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 80px;
    flex: 0 1 50%;
  }

  p {
    margin-bottom: 15px;

    @media (min-width: 740px) {
      p:last-of-type {
        margin-bottom: 40px;
      }
    }
  }

  .btn {
    margin-right: auto;
    margin-bottom: 40px;

    @media (min-width: 680px) {
      margin-bottom: 0px;
    }
  }
}

.about__title {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;

  @media (min-width: 680px) {
    font-size: 22px;
  }
}
