.scanner-instructions {
    margin: 1em auto;
    color: #333;
    padding: 0 20px;
    max-width: 940px;

    @media (min-width: 740px) {
        width: calc(100% - (54px * 2));
        padding: 0 80px;
    }

    a {
        text-decoration: underline;
    }
}

.scanner-instructions__pagetitle {
    margin: 0 0 0.5em;
    font-size: 1.875rem;
}

.scanner-instructions__step {
    margin: 16px 0;
    padding-bottom: 16px;

    ul {
        margin-left: 16px;
    }

    @media (min-width: 740px) {
        padding: 2em 0.5em;
        margin: 30px auto 2em auto;
        display: flex;
        justify-content: space-between;
    }
}

.scanner-instructions__column-image {
    margin-bottom: 1em;
    text-align: center;

    @media (min-width: 740px) {
        flex: 0 0 250px;
        text-align: right;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 0em;
    }

    @media (min-width: 1100px) {
        flex: 0 0 50%;
    }
}

.scanner-instructions__column-content {
    @media (min-width: 740px) {
        flex: 0 0 50%;
        margin-left: 4.5em;
    }
}

.scanner-instructions__image {
    display: inline-block;
    max-height: 200px;
    width: auto;

    // @media (min-width: 740px) {
    //     width: 150px;
    //     max-height: inherit;
    //     height: auto;
    // }
}

.scanner-instructions__step:nth-child(3n) {
    .scanner-instructions__image {
        // @media (min-width: 740px) {
        //     width: 150px;
        // }
        // @media (min-width: 1100px) {
        //     width: 340px;
        // }
    }
}

.scanner-instructions__title {
    color: $color-coronacheck_black;
    font-size: 1.5rem;
    padding: 0.1em 0 0.4em;
    font-weight: 800;
    display: block;
    text-align: left;
}

.scanner-instructions__text {
    line-height: 1.38em;

    p {
        margin-bottom: 1.2rem;
    }

    h3,
    h4 {
        margin-top: 1.2rem;
    }
}
