.about {
    margin: 0 auto;
    max-width: 940px;
    color: #333;

    a:not(.btn) {
        text-decoration: underline;
    }

    @media (min-width: 680px) {
        width: calc(100% - (54px * 2));
        display: flex;
    }
}

.about__column-image {
    padding: 60px 30px 30px 30px;
    display: flex;
    justify-content: center;

    @media (min-width: 680px) {
        flex: 0 0 50%;
        padding: 80px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .about__image {
        max-width: 200px;
        width: 100%;
    }
}

.about__column-content {
    padding: 0 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;

    @media (min-width: 680px) {
        padding: 80px;
        padding-left: 0;
        flex: 0 1 50%;
    }

    p {
        margin-bottom: 15px;

        @media (min-width: 680px) {
            p:last-of-type {
                margin-bottom: 40px;
            }
        }
    }

    .btn {
        margin-right: auto;
        margin-bottom: 40px;

        @media (min-width: 680px) {
            margin-bottom: 0px;
        }
    }
}

.about__title {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 16px;

    @media (min-width: 680px) {
        font-size: 22px;
    }
}
