$tablet: 1024px;
$tabletCustom: 942px;
$mobileLandscapeX: 812px;
$mobile: 767px;

:export {
    tablet: $tablet;
    tabletCustom: $tabletCustom;
    mobileLandscapeX: $mobileLandscapeX;
    mobile: $mobile;
}

@mixin tablet {
    @media only screen
    and (max-width: $tablet) {
        @content;
    }
}
@mixin tablet-custom {
    @media only screen
    and (max-width: $tabletCustom) {
        @content;
    }
}

@mixin mobile-landscape-X {
    @media only screen
    and (max-width: $mobileLandscapeX)
    and (orientation: landscape) {
        @content;
    }
}

@mixin mobile {
    @media only screen
    and (max-width: $mobile) {
        @content;
    }
}