$black-1: #383836;
$grey-1: #666666;
$grey-2: #8F8F93;
$grey-3: #C7C7CC;
$grey-4: #E5E5EA;
$grey-5: #F2F2F7;
$white: #FFFFFF;

$color-overheid-1: #154273;
$main-color-1: #1540EB;
$main-color-2: #69DBFF;
$main-color-3: #3DEC94;

$primary-text: $black-1;
$secondary-text: #727679;
$link-text: #007AFF;
$error-color: #B30900;

$background-color-1: #EFF7F9;
$active-color: $link-text;