<div class="about">
  <div class="about__column-image">
    <img
      src="{{ site.baseurl }}/img/holder_qrcode_maken.svg"
      alt=""
      loading="lazy"
      class="about__image"
    >
  </div>
  <div class="about__column-content">
      <h2 class="about__title">Over CoronaCheck</h2>
      <p>
          CoronaCheck is ontwikkeld als onderdeel van toegangstesten. Met de CoronaCheck-app kunnen bezoekers aantonen dat ze negatief getest zijn op corona. Zo kunnen sociale, culturele en sportieve locaties in tijden van corona verantwoord en snel open.
      </p>
      <p>
          CoronaCheck wordt op dit moment alleen gebruikt bij vooraf aangekondigde praktijkproeven.
      </p>
  </div>
  </div>
  