{% assign questions = site.questions-in-app | where:"lang", page.lang | sort: "index"  %}

<h2 id="frequently-asked-questions">{{ site.data.translations.faq[page.lang] }}</h2>
<br />

  <h3 class="faq-layout__title" id="{{ site.data.translations.faq-category-general[page.lang]|slugify }}">{{ site.data.translations.faq-category-general[page.lang] }}</h3>

  <div class="faq-layout__contents __overview">
      <ul class="faq-layout-contents__list">
        {% for question in questions %}
          {% if question.set == 1 %}
            {% if question.featuredHome != true %}
              <li>
                  <a class="faq-layout__item" href="{{ site.baseurl }}{{ question.url }}" {% if question.lang != 'ar' %}dir="ltr"{% endif %}>
                      {{ question.title }}
                  </a>
              </li>
            {% elsif question.featuredHome == true and question.showOnFAQoverview %}
              <li>
                  <a class="faq-layout__item" href="{{ site.baseurl }}{{ question.url }}">
                      {{ question.title }}
                  </a>
              </li>
            {% endif %}
          {% endif %}
      {% endfor %}
      </ul>
  </div>
   
  <h3 class="faq-layout__title" id="{{ site.data.translations.faq-category-howtouse[page.lang]|slugify }}">{{ site.data.translations.faq-category-howtouse[page.lang] }}</h3>
  
  <div class="faq-layout__contents __overview">
      <ul class="faq-layout-contents__list">
      {% for question in questions %}
          {% if question.set == 2 %}
            {% if question.featuredHome != true %}
              <li>
                  <a class="faq-layout__item" href="{{ site.baseurl }}{{ question.url }}">
                      {{ question.title }}
                  </a>
              </li>
            {% elsif question.featuredHome == true and question.showOnFAQoverview %}
              <li>
                  <a class="faq-layout__item" href="{{ site.baseurl }}{{ question.url }}">
                      {{ question.title }}
                  </a>
              </li>
            {% endif %}
          {% endif %}
      {% endfor %}
      </ul>
  </div>
  
  <h3 class="faq-layout__title" id="{{ site.data.translations.faq-category-troubleshooting[page.lang]|slugify }}">{{ site.data.translations.faq-category-troubleshooting[page.lang] }}</h3>
  
  <div class="faq-layout__contents __overview" {% if question.lang != 'ar' %}dir="ltr"{% endif %}>
      <ul class="faq-layout-contents__list">
        {% for question in questions %}
        {% if question.set == 3 %}
              <li>
                  <a class="faq-layout__item" href="{{ site.baseurl }}{{ question.url }}" {% if question.lang != 'ar' %}dir="ltr"{% endif %}>
                      {{ question.title }}
                  </a>
              </li>
              {% endif %}
      {% endfor %}
      </ul>
  </div>
  
  <h3 class="faq-layout__title" id="{{ site.data.translations.faq-category-privacy[page.lang]|slugify }}">{{ site.data.translations.faq-category-privacy[page.lang] }}</h3>
  
  <div class="faq-layout__contents __overview" {% if question.lang != 'ar' %}dir="ltr"{% endif %}>
      <ul class="faq-layout-contents__list">
        {% for question in questions %}
        {% if question.set == 4 %}
              <li>
                  <a class="faq-layout__item" href="{{ site.baseurl }}{{ question.url }}" {% if question.lang != 'ar' %}dir="ltr"{% endif %}>
                      {{ question.title }}
                  </a>
              </li>
              {% endif %}
      {% endfor %}
      </ul>
  </div>
