{%- assign langSlug = site.baseurl | append: '/' -%}
{%- if page.lang -%}
  {%- assign langSlug = site.baseurl | append: '/' | append: page.lang | append: '/' -%}
{%- endif -%}

<footer> 

    {% if page.questionCategoryPage  %}
        {% include components/faq-categories.html %}
    {% endif %} 

    {% if page.showContact  %}
        {% include components/helpdesk-faqs.html %}
    {% endif %} 
    
    <div class="footer">
        <div class="footer-inner">
            <div class="footer-links">
                <div class="footer-links-col ___desktop-50">
                    <div class="footer-logos-info">
                        <h2 class="screen-reader-text">{{ site.data[page.lang].translations.footer-colophon }}</h2>
                        {{ site.data[page.lang].translations.footer-logos-info_md }}
                    </div>
                    <div class="footer-attribution">
                        <!-- <h3 class="footer-attribution__title">{{ site.data[page.lang].translations.footer-attribution }}</h3> -->
                        <img src="{{ site.baseurl }}/img/Logo_EU_Negative_{{ page.lang }}.svg?v={{ timeslug }}" alt="{{ site.data.setup.footer-attribution-logo[page.lang] }}" width="175" height="48" />
                    </div>
                </div>
                <div class="footer-links-col ___desktop-25">
                    {% if include.for != "scanner" %}
                        <h3>{{ site.data[page.lang].translations.footer-misc-title }}</h3>
                    {% else %}
                        <h3>{{ site.data[page.lang].translations.footer-misc-title-scanner }}</h3>
                    {% endif %}
                    <ul>
                        {% if include.for != "scanner" %}
                            <li>
                                <a href="{{ langSlug }}{{ site.data.setup.footer-misc-privacy-url }}">
                                    {{ site.data[page.lang].translations.footer-misc-privacy }}
                                </a>
                            </li>
                        {% endif %}
                        {% if include.for == "scanner" %}
                            <li>
                                <a href="{{ langSlug }}{{ site.data.setup.footer-misc-terms-of-service-url }}">
                                    {{ site.data[page.lang].translations.footer-misc-terms-of-service }}
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ langSlug }}{{ site.data.setup.footer-misc-cookies-url }}">
                                {{ site.data[page.lang].translations.footer-misc-cookies }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ langSlug}}{{ site.data.setup.footer-misc-colofon-url }}">
                                {{ site.data[page.lang].translations.footer-misc-colofon }}
                                
                            </a>
                        </li>
                        <li>
                            <a href="{{ langSlug }}{{ site.data.setup.footer-misc-accessibility-statement-url }}">
                                {{ site.data[page.lang].translations.footer-misc-accessibility-statement }}  
                            </a>
                        </li>
                        <li>
                            <a href="{{ langSlug }}{{ site.data.setup.footer-misc-report-vulnerability-url }}">
                                {{ site.data[page.lang].translations.footer-misc-report-vulnerability }}
                                
                            </a>
                        </li>
                        <li>
                            <a href="{{ langSlug }}{{ site.data.setup.footer-misc-pers-url }}">
                                {{ site.data[page.lang].translations.footer-misc-pers }} 
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-links-col ___desktop-25">
                    <h3>{{ site.data[page.lang].translations.footer-more-info-title }}</h3>
                    <ul> 
                        {% if site.version != "offline" %}
                            <li><a href="{{ site.data.setup.footer-status-url[page.lang] }}">{{ site.data[page.lang].translations.footer-status }}</a></li>
                            <li><a href="{{ langSlug }}{{ site.data.setup.footer-wegwijzer-url[page.lang] }}">{{ site.data[page.lang].translations.footer-wegwijzer }}</a></li>
                        {% endif %}
                        <li>{{ site.data.links.wijsopreis[page.lang] }}</li>
                        <li><a href="{{ site.data.setup.footer-more-info-url[page.lang] }}" target="_blank" rel="noopener noreferrer">{{ site.data[page.lang].translations.footer-more-info }} </a></li>
                    </ul>
                </div>
            
            </div>
        
        </div>
    </div> 
</footer>

{% include footer-js.html %}
