{% if page.layout == 'content' or page.layout == 'faq-overview' %}
{% assign small = 'small' %}
{% endif %}

<div class="footer-contact {{ small }} offset-background">
  <div class="footer-contact__column-left">
    <img src="{{ site.baseurl }}/img/phone-icon.svg" alt="" width="77" height="77">
  </div>
  <div class="footer-contact__column-right"> 

    {% if page.domain == "scanner" %}
        {% if page.layout == 'scanner-faq-overview' %}
            <h2>{{ site.data.translations.footer-contact-subtitle[page.lang] }}</h2>
        {% else %}
            <h2>{{ site.data.translations.footer-contact-title-scanner[page.lang] }}</h2>
            <p>{{ site.data.translations.footer-contact-subtitle[page.lang] }}</p>
        {% endif %}
    {% else %}
        {% if page.layout == 'faq-overview' %}
            <h2>{{ site.data.translations.footer-contact-subtitle[page.lang] }}</h2>
        {% else %}
            <h2>{{ site.data.translations.footer-contact-title[page.lang] }}</h2>
            <p>{{ site.data.translations.footer-contact-subtitle[page.lang] }}</p>
        {% endif %}
    {% endif %}
    <h3>{{ site.data.translations.footer-phone[page.lang] }}</h3>
    <p> 
      {{ site.data.translations.footer-phone-action[page.lang] }}.<br />
      {{ site.data.translations.footer-phone-opening-hours[page.lang] }}
    </p>
    {% if page.layout != 'home' %}
        <h3>{{ site.data.translations.footer-phone-mail[page.lang] }}</h3>
        <p>
        <a href='mailto:helpdesk@coronacheck.nl'>helpdesk@coronacheck.nl</a>
        </p>
    {% endif %}
  </div>
</div> 
