{%- assign langSlug = site.baseurl | append: '/' -%}
{%- if page.lang -%}
  {%- assign langSlug = site.baseurl | append: '/' | append: page.lang | append: '/' -%}
{%- endif -%}

<footer> 
    {% if page.showContact  %}
        {% include footer-phone.html %}
    {% endif %} 
    
    {% if page.showTogether  %}
    <div class="footer-samen {{ small }}">
        <a class="footer-samen__logo" href="{{ site.data[page.lang].translations.footer-samen-logo-url }}">
            <img src="{{ site.baseurl }}/img/logo-alleen-samen.svg?v={{ timeslug }}" alt="{{ site.data[page.lang].translations.footer-samen-logo }}" width="350" height="88" />
        </a>
    </div>
    {% endif %}
 
    <div class="footer">
        <div class="footer-inner">
            <div class="footer-links">
                <div class="footer-links-col ___desktop-50">
                    <div class="footer-logos-info">
                        <h2 class="screen-reader-text">{{ site.data[page.lang].translations.footer-colophon }}</h2>
                        {{ site.data[page.lang].translations.footer-logos-info_md }}
                    </div>
                    <div class="footer-attribution">
                        <h3 class="footer-attribution__title">{{ site.data[page.lang].translations.footer-attribution }}</h3>
                        <img src="{{ site.baseurl }}/img/Logo_EU_Negative_{{ page.lang }}.svg?v={{ timeslug }}" alt="{{ site.data[page.lang].translations.footer-attribution-logo }}" width="175" height="48" />
                    </div>
                </div>
                <div class="footer-links-col ___desktop-25">
                    {% if include.for != "scanner" %}
                        <h3>{{ site.data[page.lang].translations.footer-misc-title }}</h3>
                    {% else %}
                        <h3>{{ site.data[page.lang].translations.footer-misc-title-scanner }}</h3>
                    {% endif %}
                    <ul>
                        {% if include.for != "scanner" %}
                            <li>
                                <a href="{{ langSlug }}{{ site.data[page.lang].translations.footer-misc-privacy-url }}">
                                    {{ site.data[page.lang].translations.footer-misc-privacy }}
                                </a>
                            </li>
                        {% endif %}
                        {% if include.for == "scanner" %}
                            <li>
                                <a href="{{ langSlug }}{{ site.data[page.lang].translations.footer-misc-terms-of-service-url }}">
                                    {{ site.data[page.lang].translations.footer-misc-terms-of-service }}
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ langSlug }}{{ site.data[page.lang].translations.footer-misc-cookies-url }}">
                                {{ site.data[page.lang].translations.footer-misc-cookies }}
                                {{ site.data[page.lang].translations.english }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ langSlug}}{{ site.data[page.lang].translations.footer-misc-colofon-url }}">
                                {{ site.data[page.lang].translations.footer-misc-colofon }}
                                {{ site.data[page.lang].translations.english }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ langSlug }}{{ site.data[page.lang].translations.footer-misc-accessibility-statement-url }}">
                                {{ site.data[page.lang].translations.footer-misc-accessibility-statement }}  {{ site.data[page.lang].translations.english }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ langSlug }}{{ site.data[page.lang].translations.footer-misc-report-vulnerability-url }}">
                                {{ site.data[page.lang].translations.footer-misc-report-vulnerability }}
                                {{ site.data[page.lang].translations.english }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ langSlug }}{{ site.data[page.lang].translations.footer-misc-pers-url }}">
                                {{ site.data[page.lang].translations.footer-misc-pers }} {{ site.data[page.lang].translations.english }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-links-col ___desktop-25">
                    <h3>{{ site.data[page.lang].translations.footer-more-info-title }}</h3>
                    <ul>
                        <li><a href="{{ site.data[page.lang].translations.footer-status-url }}">{{ site.data[page.lang].translations.footer-status }}</a></li>
                        <li><a href="{{ langSlug }}{{ site.data[page.lang].translations.footer-wegwijzer-url }}">{{ site.data[page.lang].translations.footer-wegwijzer }}</a></li>
                        <li>{{ site.data.links.wijsopreis[page.lang] }}</li>
                        <li><a href="{{ site.data[page.lang].translations.footer-more-info-url }}" target="_blank" rel="noopener noreferrer">{{ site.data[page.lang].translations.footer-more-info }} {{ site.data[page.lang].translations.english }}</a></li>
                    </ul>
                </div>
            
            </div>
        
        </div>
    </div> 
</footer>

{% include footer-js.html %}
