{% if page.layout == 'content' or page.layout == 'faq-overview' %}
{% assign small = 'small' %}
{% endif %}

<div class="footer-contact {{ small }} offset-background">
  <div class="footer-contact__column-left">
    <img src="{{ site.baseurl }}/img/phone-icon.svg" alt="" width="77" height="77">
  </div>
  <div class="footer-contact__column-right"> 

    {% if page.domain == "scanner" %}
        {% if page.layout == 'scanner-faq-overview' or page.layout == 'in-app-scanner-faq' %}
            <h2>{{ site.data.[page.lang].translations.footer-contact-subtitle }}</h2>
        {% else %}
            <h2>{{ site.data.[page.lang].translations.footer-contact-title-scanner }}</h2>
            <p>{{ site.data.[page.lang].translations.footer-contact-subtitle }}</p>
        {% endif %}
    {% else %}
        {% if page.layout == 'faq-overview' or page.layout == 'in-app-faq' %}
            <h2>{{ site.data.[page.lang].translations.footer-contact-subtitle }}</h2>
        {% else %}
            <h2>{{ site.data.[page.lang].translations.footer-contact-title }}</h2>
            <p>{{ site.data.[page.lang].translations.footer-contact-subtitle }}</p>
        {% endif %}
    {% endif %}
    <h3>{{ site.data.[page.lang].translations.footer-phone }}</h3>
    <p> 
      {{ site.data.[page.lang].translations.footer-phone-action }}.<br />
      {{ site.data.[page.lang].translations.footer-phone-opening-hours }}
    </p>
    {% if page.layout != 'home' %}
        <h3>{{ site.data.[page.lang].translations.footer-phone-mail }}</h3>
        <p>
        <a href='mailto:helpdesk@coronacheck.nl'>helpdesk@coronacheck.nl</a>
        </p>
    {% endif %}
  </div>
</div> 
