<script src="{{ site.baseurl }}/js/generic.js?v={{ timeslug }}"></script>
<script src="{{ site.baseurl }}/js/language-picker.js?v={{ timeslug }}" async></script>

{% if page.hasVideo == true %}
    <script src="{{ site.baseurl }}/js/vendors/mediaelement.4.2.16/mediaelement-and-player.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendors/mediaelement.4.2.16/lang/nl.js"></script>
    <script src="{{ site.baseurl }}/js/vendors/mediaelement-plugins.2.5.1/a11y/a11y.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendors/mediaelement-plugins.2.5.1/a11y/a11y-i18n.js"></script>
    <script src="{{ site.baseurl }}/js/mediaplayer.js"></script>
{% endif %}

{% if page.title == "Wegwijzer" or page.title == "Guidepost" %}
    <script>
    function openTarget() {
    var hash = location.hash.substring(1);
    console.log(hash);
    if(hash) {
        var details = document.getElementById(hash);
        var detailsParent = document.getElementById(hash.split('_')[0]);
    }
    if(details && details.tagName.toLowerCase() === 'details') {
        details.open = true;
        detailsParent.open = true;
    }
    }
    window.addEventListener('hashchange', openTarget);
    window.addEventListener('load', openTarget);

    openTarget();
    </script>
{% endif %}
