<head>
    <meta charset="UTF-8">
    <title>{% if page.title != '' %}{{ page.title }} - {% endif %}{{ site.data.translations.page-title[page.lang] }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% comment %}
    <link rel="stylesheet" href="{{ site.baseurl }}/js/vendors/mediaelement.4.2.16/mediaelementplayer.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/js/vendors/mediaelement-plugins.2.5.1/a11y/a11y.min.css" />
    {% endcomment %}

    <link href="{{ site.baseurl }}/css/main.css?v={{ timeslug }}" rel="stylesheet">

    <link rel="preload" as="font" href="{{ site.baseurl }}/fonts/ROsanswebtextregular.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ site.baseurl }}/fonts/ROsanswebtextregular.woff" type="font/woff2" crossorigin="anonymous">
    <link rel="preload"as="font" href="{{ site.baseurl }}/fonts/ROsanswebtextbold.woff" as="font" type="font/woff"  crossorigin="anonymous">
    <link rel="preload"as="font" href="{{ site.baseurl }}/fonts/montserrat-v15-latin_cyrillic-ext_cyrillic-700.woff2" as="font" type="font/woff"  crossorigin="anonymous">

    <link href="{{ site.baseurl }}/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <script src="{{ site.baseurl }}/js/vendors/focus-visible.5.1.0.min.js" crossorigin="anonymous" async></script>

    <meta name="theme-color" content="#154273">

    {% if include.for == "scanner" %}
        {% comment %}meta tags for the coronacheck scanner landingpage{% endcomment %}
        {% if include.in-app And include.in-app != "" And include.in-app != nil %}
            {% comment %}Don't show quick app download banner{% endcomment %}
        {% else %}
            <meta name="apple-itunes-app" content="app-id=1549842661">
        {% endif %}
        
        <meta property="og:site_name" content="{{ site.data.translations.scanner-social-og-site_name }}">
        <meta property="og:title" content="{% if page.title != '' %}{{ page.title }} - {{ site.data.translations.scanner-social-og-site_name }}{% else %}{{ site.data.translations.scanner-social-og-title[page.lang] }}{% endif %}" />
        <meta property="og:description" content="{{ site.data.translations.scanner-social-og-description[page.lang] }}"/>
        <meta property="og:updated_time" content="{{ site.time | date: "%s" }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ page.permalink }}">
        <meta property="og:image" content="https://coronacheck.nl/img/{{ site.data.translations.scanner-social-og-image-url }}">

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{% if page.title != '' %}{{ page.title }} - {{ site.data.translations.scanner-social-og-site_name }}{% else %}{{ site.data.translations.scanner-social-og-title[page.lang] }}{% endif %}" />
        <meta name="twitter:description" content="{{ site.data.translations.scanner-social-og-description[page.lang] }}" />
        <meta name="twitter:image" content="https://coronacheck.nl/img/{{ site.data.translations.scanner-social-og-image-url }}" />
    {% else %}
        {% if include.in-app And include.in-app != "" And include.in-app != nil %}
            {% comment %}Don't show quick app download banner{% endcomment %}
        {% else %}
            <meta name="apple-itunes-app" content="app-id=1548269870">
        {% endif %}


        <meta name="description" content="{{ site.data.translations.head-social-og-description[page.lang] }}">
        <link rel="alternate" hreflang="nl-NL" href="https://coronacheck.nl" />
        <link rel="alternate" hreflang="en-GB" href="https://coronacheck.nl/en" />

        {% comment %}
        <link rel="alternate" hreflang="ar" href="https://coronacheck.nl/ar" />
        <link rel="alternate" hreflang="bg" href="https://coronacheck.nl/bg" />
        <link rel="alternate" hreflang="de" href="https://coronacheck.nl/de" />
        <link rel="alternate" hreflang="es" href="https://coronacheck.nl/es" />
        <link rel="alternate" hreflang="fr" href="https://coronacheck.nl/fr" />
        <link rel="alternate" hreflang="ro" href="https://coronacheck.nl/ro" />
        <link rel="alternate" hreflang="tr" href="https://coronacheck.nl/tr" />
        {% endcomment %}

        <meta property="og:site_name" content="{{ site.data.translations.head-social-og-site_name }}">
        <meta property="og:title" content="{% if page.title != '' %}{{ page.title }} - {{ site.data.translations.head-social-og-site_name }}{% else %}{{ site.data.translations.head-social-og-title[page.lang] }}{% endif %}" />
        <meta property="og:description" content="{{ site.data.translations.head-social-og-description[page.lang] }}"/>
        <meta property="og:updated_time" content="{{ site.time | date: "%s" }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ page.permalink }}">
        <meta property="og:image" content="https://coronacheck.nl/img/{{ site.data.translations.head-social-og-image-url }}">
        <meta name="og:image:alt" content="{{ site.data.translations.head-social-og-image-alt[page.lang] }}" /> 

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{% if page.title != '' %}{{ page.title }} - {{ site.data.translations.head-social-og-site_name }}{% else %}{{ site.data.translations.head-social-og-title[page.lang] }}{% endif %}" />
        <meta name="twitter:description" content="{{ site.data.translations.head-social-og-description[page.lang] }}" />
        <meta name="twitter:image" content="https://coronacheck.nl/img/{{ site.data.translations.head-social-og-image-url }}" />
        <meta name="twitter:image:alt" content="{{ site.data.translations.head-social-og-image-alt[page.lang] }}" /> 
    {% endif %}

    <meta name="og:image:alt" content="{{ site.data.translations.social-og-image-alt[page.lang] }}" /> 
    <meta name="twitter:image:alt" content="{{ site.data.translations.social-og-image-alt[page.lang] }}" /> 
</head>
