<header>
    <div class="skiplinks">
        <a href="#content">
        {{ site.data[page.lang].translations.header-skip-to-content }}
        </a>
    </div>
    <div class="header offset-background">
        <div class="header__homelink">
            <a href="/{{ page.lang }}">{{ site.data[page.lang].translations.head-app-name }}</a>
        </div>      
    
        <div class="logobar">
            <div class="logo">
                <a href="{{ langSlug }}">
                <img src="{{ site.baseurl }}/img/logo-RO.svg" alt="{{ site.data.setup.govlogo[page.lang] }}" width="40" height="80">
                </a>
            </div>
        
            <div class="header__quick-link">
                <a href="{{ langSlug }}/scanner" class="header__quick-link--scanner">
                {{ site.data[page.lang].translations.coronacheck-scanner-linktext }}</a>
                <a href="{{ langSlug }}/faq">
                {{ site.data[page.lang].translations.faq }}</a>
            </div>
        
            {% include components/language-picker.html headertype="default" %}
        </div>
        <div class="container">

            <div class="header__layout">

                <div class="header__layout--content">
                    <h1 class="header__title">
                        {{ site.data[page.lang].translations.header-title }}<br />
                    </h1>
                    <p>
                        {{ site.data[page.lang].translations.header-subtitle }}
                    </p>

                    <div class="buttons">
                        <a href="{{ site.setup.translations.header-button-download-app-url[page.lang] }}" class="btn">{{ site.data[page.lang].translations.header-button-download-app }}</a>
                        <a href="{{ site.setup.translations.header-button-paper-certificate-url[page.lang] }}" class="btn">{{ site.data[page.lang].translations.header-button-paper-certificate }}</a>
                    </div>
                    <!-- {% include components/coronacheck-badges.html %} -->
                </div>

                <div class="header__layout--image">
                    <img src="{{ site.baseurl }}{{ site.data.setup.coronacheck-header-illustration[page.lang] }}" alt="" width="250" height="319">
                </div>
            </div>
        </div>

    </div>
</header>
