<head>
    <meta charset="UTF-8">
    <title>
        {% if page.domain == "scanner" %}
            {% if page.title != '' %}{{ page.title | strip_html }} - {% endif %}
            {{ site.data[page.lang].translations.scanner-app-name }}
        {% else %}
            {% if page.layout == 'content-error' %}
                {{ site.data[page.lang].translations.error-pagetitle }} - 
                {{ site.data[page.lang].translations.head-app-name }}
            {% else %}
                {% if page.title != '' %}{{ page.title | strip_html  }} - {% endif %}
                {{ site.data[page.lang].translations.head-app-name }}
            {% endif %}
        {% endif %}
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{{ site.baseurl }}/js/vendors/mediaelement.4.2.16/mediaelementplayer.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/js/vendors/mediaelement-plugins.2.5.1/a11y/a11y.min.css" />
    <link href="{{ site.baseurl }}/css/main.css?v={{ timeslug }}" rel="stylesheet">

    <link rel="preload" as="font" href="{{ site.baseurl }}/fonts/ROsanswebtextregular.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ site.baseurl }}/fonts/ROsanswebtextregular.woff" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ site.baseurl }}/fonts/ROsanswebtextbold.woff" type="font/woff"  crossorigin="anonymous">
    <link rel="preload" as="font" href="{{ site.baseurl }}/fonts/montserrat-v15-latin_cyrillic-ext_cyrillic-700.woff2" type="font/woff"  crossorigin="anonymous">

    <link href="{{ site.baseurl }}/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <script src="{{ site.baseurl }}/js/vendors/focus-visible.5.1.0.min.js" crossorigin="anonymous" async></script>

    {% if include.for == "dashboard" %}
        <script src="{{ site.baseurl }}/js/dashboard.js" crossorigin="anonymous" defer></script>
    {% endif %}

    <meta name="theme-color" content="#154273">

    {% if include.for == "scanner" %}
        {% comment %}meta tags for the coronacheck scanner landingpage{% endcomment %}
        {% if include.in-app And include.in-app != "" And include.in-app != nil %}
            {% comment %}Don't show quick app download banner{% endcomment %}
        {% else %}
            <meta name="apple-itunes-app" content="app-id=1549842661">
        {% endif %}
        
        <meta property="og:site_name" content="{{ site.data.setup.scanner-social-og-site_name[page.lang] }}">
        <meta property="og:title" content="{% if page.title != '' %}{{ page.title | strip_html }} - {{ site.data.setup.scanner-social-og-site_name[page.lang] }}{% else %}{{ site.data.setup.scanner-social-og-title[page.lang] }}{% endif %}" />
        <meta property="og:description" content="{{ site.translations.scanner-social-og-description }}"/>
        <meta property="og:updated_time" content="{{ site.time | date: "%s" }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ page.permalink }}">
        <meta property="og:image" content="https://coronacheck.nl/img/scanner-social-og-image--nl.png?v=2">

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{% if page.title != '' %}{{ page.title | strip_html  }} - {{ site.data[page.lang].translations.scanner-social-og-site_name }}{% else %}{{ site.data[page.lang].translations.scanner-social-og-title }}{% endif %}" />
        <meta name="twitter:description" content="{{ site.data.setup.scanner-social-og-description }}" />
        <meta name="twitter:image" content="https://coronacheck.nl/img/scanner-social-og-image--nl.png?v=2" />
    {% else %}
        {% if include.in-app And include.in-app != "" And include.in-app != nil %}
            {% comment %}Don't show quick app download banner{% endcomment %}
        {% else %}
            <meta name="apple-itunes-app" content="app-id=1548269870">
        {% endif %}


        <meta name="description" content="{{ site.data.setup.head-social-og-description[page.lang] }}">
        <link rel="alternate" hreflang="nl-NL" href="https://coronacheck.nl" />
        <link rel="alternate" hreflang="en-GB" href="https://coronacheck.nl/en" />

        <meta property="og:site_name" content="{{ site.data.setup.head-social-og-site_name[page.lang] }}">
        <meta property="og:title" content="{% if page.title != '' %}{{ page.title | strip_html  }} - {{ site.data.setup.head-social-og-site_name[page.lang] }}{% else %}{{ site.data.setup.head-social-og-title[page.lang] }}{% endif %}" />
        <meta property="og:description" content="{{ site.data.setup.head-social-og-description[page.lang] }}"/>
        <meta property="og:updated_time" content="{{ site.time | date: "%s" }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ page.permalink }}">
        <meta property="og:image" content="https://coronacheck.nl/img/coronacheck-social-og-image--nl.png?=v2 }}">
        <meta name="og:image:alt" content="{{ site.data.setup.social-og-image-alt[page.lang] }}" /> 

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{% if page.title != '' %}{{ page.title | strip_html  }} - {{ site.data.setup.head-social-og-site_name[page.lang] }}{% else %}{{ site.data.setup.head-social-og-title[page.lang] }}{% endif %}" />
        <meta name="twitter:description" content="{{ site.data.setup.head-social-og-description[page.lang] }}" />
        <meta name="twitter:image" content="https://coronacheck.nl/img/coronacheck-social-og-image--nl.png?=v2 }}" />
        <meta name="twitter:image:alt" content="{{ site.data.setup.social-og-image-alt[page.lang] }}" /> 
    {% endif %}

    <meta name="og:image:alt" content="{{ site.data.setup.social-og-image-alt[page.lang] }}" /> 
    <meta name="twitter:image:alt" content="{{ site.data.setup.social-og-image-alt[page.lang] }}" /> 
</head>
