<header>
  <div class="skiplinks">
    <a href="#content">
      {{ site.data.translations.header-skip-to-content[page.lang] }}
    </a>
  </div>
  <div class="header {% if include.for == "scanner" %}header--scanner{% else %}header--home{% endif %}">
    <div class="logobar">
      <div class="logo">
        <a href="{{ langSlug }}">
          <img src="{{ site.baseurl }}/img/logo-RO.svg" alt="{{ site.data.translations.govlogo[page.lang] }}">
        </a>
      </div>
      {% if include.for == "scanner" %}
        <a href="{{ langSlug }}/faq-scanner" class="header__layout__faq-link">
          {{ site.data.translations.faq[page.lang] }}
        </a>
      {% else %}
        <a href="{{ langSlug }}/faq" class="header__layout__faq-link">
          {{ site.data.translations.faq[page.lang] }}
        </a>
      {% endif %}
      {% include components/language-picker.html headertype="default" %}
    </div>
    <div class="container">

      {% if include.for == "scanner" %}

        <div class="header__layout">
          <div class="header__layout__middle">
            <h1 class="header__text">
              {{ site.data.translations.scanner-header-title[page.lang] }}<br />
              <span>{{ site.data.translations.scanner-header-subtitle[page.lang] }}</span>
            </h1>

            {% include components/scanner-badges.html %}
          </div>
        </div>

      {% else %}

        <div class="header__layout">
          <div class="header__layout--image">
            <img src="{{ site.baseurl }}/img/CoronaCheck_app.png" alt="">
          </div>

          <div class="header__layout--content">
            <h1 class="header__title">
              {{ site.data.translations.header-title[page.lang] }}<br />
            </h1>
            <p>{{ site.data.translations.header-subtitle[page.lang] }}</p>
            {% include components/coronacheck-badges.html %}
          </div>
        </div>

      {% endif %}

    </div>
  </div>
</header>
