<header>
    <div class="skiplinks">
        <a href="#content">
        {{ site.data[page.lang].translations.header-skip-to-content }}
        </a>
    </div>
    <div class="header offset-background">
        <div class="header__homelink">
            <a href="/{{ page.lang }}">{{ site.data[page.lang].translations.head-app-name }}</a>
        </div>      
    
        <div class="logobar">
            <div class="logo">
                <a href="{{ langSlug }}">
                <img src="{{ site.baseurl }}/img/logo-RO.svg" alt="{{ site.data.setup.govlogo[page.lang] }}" width="40" height="80">
                </a>
            </div>
        
            <div class="header__quick-link">
                <a href="{{ langSlug }}/scanner" class="header__quick-link--scanner">
                {{ site.data[page.lang].translations.coronacheck-scanner-linktext }}</a>
                <a href="{{ langSlug }}/faq">
                {{ site.data[page.lang].translations.faq }}</a>
            </div>
        
            {% include components/language-picker.html headertype="default" %}
        </div>
        <div class="container">

            <div class="hero">
                <div  class="hero__content">
                    <h1 class="header__title"> 
                        {{ site.data[page.lang][include.version].header-title }}<br /> 
                    </h1>

                    <p>{{ site.data[page.lang][include.version].header-subtitle }}</p> 

                    <div class="buttons">
                        <!-- shown on desktop only -->
                            <a href="{{ site.data.setup.header-button-download-app-url[page.lang] }}" class="btn only-desktop">{{ site.data[page.lang].translations.header-button-download-app }}</a>
                        <!-- end shown on desktop -->

                        <!-- shown on mobile only -->
                            <!-- if on iphone -->
                            <a href="{{ site.data.setup.coronacheck-app-store-url[page.lang] }}" class="btn onlyiOS">{{ site.data[page.lang].translations.header-button-download-app }} <span class="noJS">(iOS)</span></a>
                            <!-- if on android -->
                            <a href="{{ site.data.setup.coronacheck-google-play-url[page.lang] }}" class="btn onlyAndroid">{{ site.data[page.lang].translations.header-button-download-app }} <span class="noJS">(Android)</span></a>
                        <!-- end shown on mobile -->

                        <a href="{{ site.data.setup.header-button-paper-certificate-url[page.lang] }}" class="btn">{{ site.data[page.lang].translations.header-button-paper-certificate }}</a>
                    </div>
                </div>

                <div class="hero__image">
                    <img src="{{ site.baseurl }}{{ site.data.setup.coronacheck-header-illustration[page.lang] }}" alt="" width="360" height="280">
                </div>
            </div>
        </div>

    </div>
</header>
