<div class="print-version">
  <div class="print-version_column-image">
    <img
      src="{{ site.baseurl }}/img/print-versionversion.png"
      alt=""
      loading="lazy"
      class="print-version_image"
    >
  </div>
  <div class="print-version_column-content">
    <h2>Wil je een papieren testbewijs?</h2>
    <p>
      <a href="#">Lees hier meer <span class="screen-reader-text">over het maken van een papieren testbewijs</span></a>
    </p>
    <a href="#" class="btn">Maak papieren testbewijs</a>
  </div>
</div>
