<div class="stories">
  {% assign stories = site.scanner-instructions | where:"lang", page.lang | where:"show", true | sort: "index" %}
  {% for story in stories %}
  <article class="stories__story" id="story-{{ story.index }}">
    <div class="stories__story-column-image">
      <img
        src="{{ site.baseurl }}/img/scanner-howto/{{ story.graphic }}"
        alt=""
        loading="lazy"
        class="stories__story-image"
      >
    </div>
    <div class="stories__story-column-content">
      <h2>
        {% comment %}<span class="stories__story-title__highlight">{{story.title-highlight}}</span>{% endcomment %}
        <span class="stories__story-title">{{story.title}}</span>
      </h2>
      <div class="stories__story-text">
        {{ story.content  }}
      </div>
    </div>
  </article>
  {% endfor %}

</div>
