<section class="signup-form-pilot" data-device="{{ page.device }}">
  <form class="form" method="post" action="/dynamic/fieldlab-signup-data">
    <div class="form-section">
      <label for="email" class="fieldlabel">E-mailadres: <strong class="req"> *</strong></label> 
        
      <div class="field">
          <input id="email" name="email" type="text" placeholder="naam@domein.nl" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}" required  aria-required="true">
          {% if page.device == 'android' %}<p class="meta"><strong>Let op:</strong> Vul hier jouw e-mailadres in dat gekoppeld is aan de Google Play Store.</p>
          {% else %} <p class="meta">Voer hier een geldig e-mailadres in. Voorbeeld: 'naam@domein.nl'.</p>
          {% endif %}
      </div>
    </div>

    <fieldset>
      <div  class="form-section">
      <legend>
        Akkoordverklaringen:
      </legend>

      <div class="field">
        <div role="group">
          <label>
            <input id="privacy" name="privacy" type="checkbox" required  aria-required="true" />
            Ik ga akkoord met de <span style="display: inline-block"><a href="/privacy" target="_blank">privacyverklaring <img src="{{ site.baseurl }}/img/external-link.svg" alt="opent in apart venster" width="12px" height="12px" style="display: inline-block;"></a> <strong class="req"> *</strong></span>
          </label>
        </div>

        <div role="group">
          <label>
            <input id="feedbackmail" name="feedbackmail" type="checkbox" />
            Ik ga er mee akkoord dat mijn e-mailadres eenmalig wordt gebruikt om mij te benaderen voor het vragen van feedback.
          </label>
        </div>
      </div></div>
    </fieldset>

    {% if page.device == 'iphone' %}
      <input id="iphone" name="app" type="hidden" value="iphone_version">
    {% elsif page.device == 'android' %}
      <input id="android" name="app" type="hidden" value="android_version">
    {% endif %}

    <input type="submit" value="Ja, ik doe mee" />
  </form>
</section>
