:root {
    --transition-in: 262ms ease;
    --transition-in--fast: 100ms ease;
    --transition-out: 162ms ease;
    --transition-out--fast: 62ms ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-offset: 8px;
    outline: 2px solid transparent;

    &:focus {
        outline: 2px solid $color-focus;
        outline-offset: 4px;
        transition: 100ms ease-out;
    }
}

.browser-ie-11 * {
    outline-offset: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

body {
    font-family: "RO Sans", sans-serif;
    font-size: 18px;
    line-height: 1.35;
    min-height: 100%;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;

        main {
            flex: 1 0 auto;
        }
    }
}

.in-app {
    font-size: 16px;
}

h1,
h2,
h3,
h4 {
    font-family: "Montserrat", "RO Sans", sans-serif;
    color: #383836;
}

dt,
dd {
    display: inline-block;
    margin-left: 0;
}

dt {
    margin-right: 4px;
}

.container {
    max-width: 940px;
    position: relative;
    margin: auto;
    width: 100%;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

a,
a:visited {
    color: $color-coronacheck-link;
    text-decoration: none;
}

a:hover {
    color: $color-coronacheck-link--interaction;
    text-decoration: underline;
}

.offset-background {
    background-color: $color-RO_lightblue;

    a:not(.btn),
    a:not(.btn):visited {
        color: $color-cc-link-darker;

        &:hover,
        &:focus {
            color: $color-cc-link-darker--interaction;
        }
    }
}

button {
    cursor: pointer;
}

// 404 pagina

.link__404 {
    font-size: 1.3125rem;

    &:before {
        content: "";
        position: relative;
        height: 10px;
        width: 10px;
        background: url(#{$file-path}img/chevron-right-darkblue.svg) no-repeat 50% 50%;
        transition: var(--transition-out);
        padding: 10px;
    }
}

// Sorry, we're busy page

.content-sorry {
    text-align: center;

    @media (max-width: 739px) {
        br {
            display: none;
        }
    }

    .content-sorry_title {
        margin-bottom: 20px;
    }

    .content-sorry_image {
        margin: 0px auto;
        width: 100%;
        max-width: 236px;
        height: auto;
        max-height: 30vh;
    }
}

.btn.only-mobile {
    display: none;

    @media only screen and (max-width: 767px) {
        display: inline-block;
    }
}

.btn.only-desktop {
    display: inline-block;

    @media only screen and (max-width: 767px) {
        display: none;
    }
}

.btn.onlyAndroid,
.btn.onlyiOS {
    display: none;
}

.iOS {
    .btn.onlyiOS {
        display: inline-block;
    }
}

.android {
    .btn.onlyAndroid {
        display: inline-block;
    }
}
