{% assign announcements = site.announcements | where:"lang", page.lang | where:"version", site.version %}
{% if announcements.size != 0 %}
    {% for announcement in announcements %}
    <div class="announcement">
        <div class="announcement_icon">
            <img
                src="{{ site.baseurl }}/img/announcement-{{ announcement.style }}.svg"
                alt="Informatie"
                width="20"
                height="20"
            />
        </div>

        <div class="announcement_content">
            {% if announcement.title == ''  %}
            {% else %}
                <h2>{{ announcement.title }}</h2>
            {% endif %}
            {{ announcement.content }}
        </div>
    </div>
    {% endfor %}
    </div> 
{% endif %}
