{% assign announcement-errors = site.announcements | where:"lang", page.lang | where:"style", "error" %}
{% if announcement-errors.size != 0 %}
    {% for announcement in announcement-errors %}
    <div class="announcement offset-background">
        {% if announcement.title == ''  %}
        <h2 class="screen-reader-text">Belangrijke mededeling</h2>
        {% else %}
        <h2>{{ announcement.title }}</h2>
        {% endif %}
        {{ announcement.content }}
    </div>
    {% endfor %}
    </div> 
{% endif %}

{% assign announcement-info = site.announcements | where:"lang", page.lang | where:"style", "info" %}
{% if announcement-info.size != 0 %}
    {% for announcement in announcement-info %}
    <div class="banner offset-background">
        {% if announcement.title != '' %}<h2>{{ announcement.title }}</h2>{% endif %}
        {{ announcement.content }}
    </div>
    {% endfor %}
    </div> 
{% endif %}
