{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
{%- assign langSlug = site.baseurl | append: '/' -%}
{%- if page.lang -%}
  {%- assign langSlug = site.baseurl | append: '/' | append: page.lang -%}
{%- endif -%}

<nav class="content-center__home breadcrumbs" aria-label="{{ site.data[page.lang].translations.youarehere }}:"> 
    <ul> 
    {% for crumb in crumbs offset: 1 %}
    {{% assign start_crumb = '' %}}
    
    {% if forloop.first %}
    <li class="breadcrumbs-item"> 
        {% if include.collection == 'questions-in-app' %} 
            <a class="breadcrumbs" href="{{langSlug}}/faq-in-app">
            {{ site.data[page.lang].translations.faq }}</a>
        {% elsif include.collection == 'questions-scanner-in-app' %}
            <a class="breadcrumbs" href="{{langSlug}}/faq-scanner-in-app">
            {{ site.data[page.lang].translations.faq }}</a>
        {% elsif include.collection == 'questions-scanner' %}
            <a class="breadcrumbs" href="{{langSlug}}/scanner">
            {{ site.data[page.lang].translations.coronacheck-scanner-linktext }}</a>
        {% elsif page.domain == 'scanner' %}
            <a class="breadcrumbs" href="{{langSlug}}/scanner">
            {{ site.data[page.lang].translations.coronacheck-scanner-linktext }}</a>
        {% else %}
            {% if include.collection == 'questions-scanner'
               or include.collection == 'questions'
               or include.collection == 'questions-scanner-in-app'
               or include.collection == 'questions-scanner-in-app'
               or include.collection == 'faqcategories' %} 
                <a class="breadcrumbs" href="{{langSlug}}/faq">
                {{ site.data[page.lang].translations.faq }}</a>
            {% else %}
                <a class="breadcrumbs" href="{{langSlug}}">
                {{ site.data[page.lang].translations.layout-template-home }}</a>
            {% endif %}
        {% endif %}

        {% if forloop.last == false %} 
                <span class="icon icon-chevron-right"></span> 
        {% endif %}
    </li> 
    {% elsif forloop.last == false %} 
        {% if include.collection == 'questions-scanner'
            or include.collection == 'questions'
            or include.collection == 'questions-scanner-in-app'
            or include.collection == 'questions-scanner-in-app' %} 
            {% assign questionCategories = site.faqcategories | where:"lang", page.lang | sort: "questionCategory" %} 
            {% for questionCategory in questionCategories %}
                {% if questionCategory.questionCategory == page.set %}
                    <li class="breadcrumbs-item">
                        <a class="breadcrumbs" href="{{ site.baseurl }}{{ questionCategory.url }}">
                        {{ questionCategory.title | truncate: 40 }}</a>
                        <span class="icon icon-chevron-right"></span>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% elsif forloop.last  %}
        <li class="breadcrumbs-item"> 
            {% if page.contentLang == 'en' %}
                <span class="breadcrumbs disabled" dir="ltr" lang="en" aria-current="page">{{ include.title | truncate: 40 | strip_html }}</span>
            {% elsif page.contentLang == 'nl' %}
                <span class="breadcrumbs disabled" lang="nl" aria-current="page">{{ include.title | truncate: 40  | strip_html }}</span>
            {% else %}
                <span class="breadcrumbs disabled" aria-current="page">{{ include.title | truncate: 40 | strip_html }}</span>
            {% endif %}
        </li> 
    {% endif %} 
    {% endfor %}
  </ul> 
</nav>
