
<div class="{{ include.class }}">
  {% if include.class %}
    <h2>{{ site.data.[page.lang].translations.coronacheck-lead-title }}:</h2>
  {% endif %}
  <ul class="layout-app-badges">
    <li class="app_badge_column__left">
      <a class=" app-store" href="{{ site.data.[page.lang].translations.coronacheck-app-store-url }}">
        <img src="{{ site.baseurl }}/img/badges/{{ site.data.[page.lang].translations.badge-app-store-img }}" 
        alt="{{ site.data.[page.lang].translations.header-appstore }}" 
        height="65" width="196"
        />
      </a>
    </li>
    <li class="app_badge_column__right">
      <a class="play-store" href="{{ site.data.[page.lang].translations.coronacheck-google-play-url }}">
        <img src="{{ site.baseurl }}/img/badges/{{site.data.[page.lang].translations.badge-google-play-img }}" alt="{{ site.data.[page.lang].translations.header-googleplaystore }}" height="65" width="216" />
      </a>
    </li>
    <li class="app_badge_column__right {% if include.huawei != 'true' %}huawei-only-show-mobile{% endif %}">
      {% if include.huawei == 'true' %}
      <a class="huawei-store" href="{{ site.data.[page.lang].translations.coronacheck-huawei-url }}">
        <img src="{{ site.baseurl }}/img/badges/{{site.data.[page.lang].translations.badge-huawei-img[page.lang]  }}" alt="{{ site.data.[page.lang].translations.header-huaweiappgallery }}" height="65" width="216" />
      </a>
      {% endif %}
    </li>
  </ul>
  {% comment %}{% if page.lang == 'fy' %}
  <p class="badges__caveat">
      <strong class="note">{{ site.data.[page.lang].translations.sca-caveat-letop-fy }}</strong> {{ site.data.[page.lang].translations.info-caveat-fy }}</p>
  {% endif %}{% endcomment %}
</div>
