<div class="block block--coronamelder">
  <div class="block__image-container">
    <img
      src="{{ site.baseurl }}/img/coronamelder.svg"
      alt=""
      loading="lazy"
      class="block__image"
      width="145"
      height="116"
    >
  </div>
  <div class="block__content-container">
        <h2 class="block__title">{{ site.data[page.lang].translations.coronamelder-title }}</h2>

        <p>{{ site.data[page.lang].translations.coronamelder-content }}</p>

        <a href="{{ site.data[page.lang].translations.coronamelder-url }}" target="_blank">
            {{ site.data[page.lang].translations.coronamelder-link }}
        </a>
  </div>
</div>
  