<div class="content-block key-figures">
  <h2>{{ site.data.translations.coronacheck-app-statistics[page.lang] }}</h2>

  <div class="column-2">
    <div>
        <h2>{{ site.data.translations.android[page.lang] }}</h2>
        <p><small>{{ site.data.translations.number-of-downloads-coronacheck-app[page.lang] }}</small></p>
        <p class="emphasize">5.767.048</p>
    </div>

    <div>
        <h2>{{ site.data.translations.ios[page.lang] }}</h2>
        <p><small>{{ site.data.translations.number-of-downloads-coronacheck-app[page.lang] }}</small></p>
        <p class="emphasize">5.031.608</p>
    </div>
  </div>
</div>
