<div class="content-block">
  <h2>{{ site.data.translations.dcc-certificate[page.lang] }}</h2>

  <div class="column-3 legend">
    <div>
        <h2>{{ site.data.translations.total[page.lang] }}</h2>
        <p><strong>8.649.472</strong></p>
        <p><small>{{ site.data.translations.since-first-data[page.lang] }}</small></p>
        <ul>
          <li class="type-1">{{ site.data.translations.vaccination-certificates[page.lang] }}: 7.107.306</li>
          <li class="type-2">{{ site.data.translations.recovery-certificates[page.lang] }}: 380.528</li>
          <li class="type-3">{{ site.data.translations.test-certificates[page.lang] }}: 1.161.584</li>
        </ul>
    </div>

    <div>
        <h2>{{ site.data.translations.past-7-days[page.lang] }}</h2>
        <p><strong>8.649.472</strong></p>
        <p><small>14-10-2021 / 21-10-2021</small></p>
        <ul>
          <li class="type-1">{{ site.data.translations.vaccination-certificates[page.lang] }}: 7.107.306</li>
          <li class="type-2">{{ site.data.translations.recovery-certificates[page.lang] }}: 380.528</li>
          <li class="type-3">{{ site.data.translations.test-certificates[page.lang] }}: 1.161.584</li>
        </ul>
    </div>

    <div>
        <h2>{{ site.data.translations.past-30-days[page.lang] }}</h2>
        <p><strong>8.649.472</strong></p>
        <p><small>21-09-2021 / 21-10-2021</small></p>
        <ul>
          <li class="type-1">{{ site.data.translations.vaccination-certificates[page.lang] }}: 7.107.306</li>
          <li class="type-2">{{ site.data.translations.recovery-certificates[page.lang] }}: 380.528</li>
          <li class="type-3">{{ site.data.translations.test-certificates[page.lang] }}: 1.161.584</li>
        </ul>
    </div>
  </div>
</div>
