<div class="demo-codes">
  {% if include.headerlevel == "h1" %}
    <h1 class="demo-codes-title">{{ site.data.translations.demo-qr-title[page.lang] }}</h1>
  {% else %}
    <h2 class="demo-codes-title">{{ site.data.translations.demo-qr-title[page.lang] }}</h2>
  {% endif %} 
    <p>{{ site.data.translations.demo-qr-subtitle[page.lang] }}</p>
    <ul class="demo-codes-layout">
      <li class="demo-codes__block">
        <img
          src="{{ site.baseurl }}/img/qr/demo_qr_gray.png"
          alt="{{ site.data.translations.demo-qr-gray-alt[page.lang] }}"
          class="demo-codes__image"
        >
        {{ site.data.translations.demo-qr-gray[page.lang] }}
      </li>
      <li class="demo-codes__block">
        <img
          src="{{ site.baseurl }}/img/qr/demo_qr_red.png"
          alt="{{ site.data.translations.demo-qr-red-alt[page.lang] }}"
          class="demo-codes__image"
        >
        {{ site.data.translations.demo-qr-red[page.lang] }}
      </li>
    </ul>
  </div>
  