<div class="block block--reverse">
    <div class="block__content-container">
        <h2 class="block__title">
            {{ site.data[page.lang][site.version].grant-access-with-coronacheck-scanner-title }}
        </h2>

        <p>{{ site.data[page.lang][site.version].grant-access-with-coronacheck-scanner-content }}</p>

        <p>
            <a href="{{ site.data[page.lang].translations.grant-access-with-coronacheck-scanner-url }}" target="_blank" rel="noopener noreferrer">
                {{ site.data[page.lang].translations.grant-access-with-coronacheck-scanner-link }}
            </a>
        </p>
    </div>
    <div class="block__image-container">
        <img
            src="{{ site.baseurl }}/img/scanner_aan_de_slag.svg"
            alt=""
            loading="lazy"
            class="block__image"
            width="200"
            height="202"
        />
    </div>
  </div>
  