<div class="about">
    <div class="about__column-content">
        <h2 class="about__title">
            {{ site.data[page.lang][include.version].grant-access-with-coronacheck-scanner-title }}
        </h2>

        <p>{{ site.data[page.lang][include.version].grant-access-with-coronacheck-scanner-content }}</p>

        <p>
            <a href="{{ site.data[page.lang].translations.grant-access-with-coronacheck-scanner-url }}" class="btn btn--cta" target="_blank">
                {{ site.data[page.lang].translations.grant-access-with-coronacheck-scanner-link }}
            </a>
        </p>
    </div>
    <div class="about__column-image">
        <img
            src="{{ site.baseurl }}/img/scanner_aan_de_slag.svg"
            alt=""
            loading="lazy"
            class="about__image"
            width="200"
            height="202"
        />
    </div>
  </div>
  