<div class="information offset-background">
  <h2 class="information-title">{{ site.data.translations.information-title[page.lang] }}</h2>
  <ul class="information-layout">
    <li class="information__block">
      <img
        src="{{ site.baseurl }}/img/information-images/info-2.svg"
        alt=""
        class="information__image"
        width="70"
        height="70"
      >
      {{ site.data.translations.information-naw[page.lang] }}
    </li>
    <li class="information__block">
      <img
        src="{{ site.baseurl }}/img/information-images/info-3.svg"
        alt=""
        class="information__image"
        width="70"
        height="70"
      >
      {{ site.data.translations.information-gps[page.lang] }}
    </li>
    {% comment %}
    <li class="information__block">
      <img
        src="{{ site.baseurl }}/img/information-images/info-1.svg"
        alt=""
        class="information__image"
        width="70"
        height="70"
      >
      {{ site.data.translations.information-qrcode[page.lang] }}
    </li>
    {% endcomment %}
  </ul>
</div>
