<div class="block block--coronamelder">
  <div class="block__image-container">
    <img
      src="{{ site.baseurl }}/img/netherlands-worldwide-{{ page.lang }}.svg"
      alt=""
      loading="lazy"
      class="block__image"
      width="122"
      height="125"
    >
  </div>
  <div class="block__content-container">
        <h2 class="block__title">{{ site.data[page.lang].translations.nww-title }}</h2>

        <p>{{ site.data[page.lang].translations.nww-content }}</p>

        <a href="{{ site.data[page.lang].translations.nww-url }}" target="_blank">
            {{ site.data[page.lang].translations.nww-link }}
        </a>
  </div>
</div>
  