<div class="print-version">
  <div class="print-version__column-image">
    <img
      src="{{ site.baseurl }}/img/printbewijs.png"
      alt=""
      loading="lazy"
      class="print-version__image"
      width="250"
    >
  </div>
  <div class="print-version__column-content">
    <h2 class="print-version__title">Wil je een papieren testbewijs?</h2>
    <p>
      <a href="#">Lees hier meer <span class="screen-reader-text">over het maken van een papieren testbewijs</span></a>
    </p>
    <a href="#" class="btn">Maak papieren testbewijs</a>
  </div>
</div>
