<div class="print-version offset-background">
  <div class="print-version__column-image">
    <img
      src="{{ site.baseurl }}{{ site.data.translations.print-version-img[page.lang] }}"
      alt=""
      loading="lazy"
      class="print-version__image"
      width="250"
      height="191"
    >
  </div>
  <div class="print-version__column-content">
    <h2 class="print-version__title">{{ site.data.translations.print-version-title[page.lang] }}</h2>
    <p>
      {{ site.data.translations.print-version-content[page.lang] }}
    </p>
    <a href="{{ site.data.translations.print-version-url[page.lang] }}" class="btn btn--cta">{{ site.data.translations.print-version-url-linktext[page.lang] }}</a>
  </div>
</div>
