{%- assign langSlug = site.baseurl | append: '/'  -%}
{%- if page.lang -%}
  {%- assign langSlug = site.baseurl | append: '/' | append: page.lang | append: '/' -%}
{%- endif -%}

<section class="scanner-quicklinks">
  <h2 class="screen-reader-text">{{ site.data.[page.lang].translations.scanner-quicklinks }}</h2> 

  <div class="scanner-menu">
      <article class="scanner-quicklink">
        <div class="scanner-quicklink__summary">
            <img
            src="{{ site.baseurl }}/img/scanner_aan_de_slag.svg"
            alt=""
            loading="lazy"
            class="scanner-quicklink__image"
            width="157"
            height="160"
            >
          <div class="scanner-quicklink__title">
            <h3>{{ site.data.[page.lang].translations.quicklinks-organising }}</h3>
          </div>
          <a href="{{ site.baseurl }}{{ site.data.[page.lang].translations.quicklinks-organising-url }}" class="scanner-quicklink__summary__btn-expand">
            {{ site.data.[page.lang].translations.readmore }}
            <span class="screen-reader-text"> {{ site.data.[page.lang].translations.readmore-about_screen-reader }}: {{ site.data.[page.lang].translations.quicklinks-organising }}</span>
          </a>
        </div>
      </article>

      <article class="scanner-quicklink">
        <div class="scanner-quicklink__summary">
            <img
            src="{{ site.baseurl }}/img/scanner-instructions/2_scannen.svg"
            alt=""
            loading="lazy"
            class="scanner-quicklink__image"
            width="157"
            height="160"
            >
          <div class="scanner-quicklink__title">
            <h3>{{ site.data.[page.lang].translations.quicklinks-how-it-works }}</h3>
          </div>
          <a href="{{ site.baseurl }}{{ site.data.[page.lang].translations.quicklinks-how-it-works-url }}" class="scanner-quicklink__summary__btn-expand">
            {{ site.data.[page.lang].translations.readmore }}
            <span class="screen-reader-text"> {{ site.data.[page.lang].translations.readmore-about_screen-reader }}: {{ site.data.[page.lang].translations.quicklinks-how-it-works }}</span>
          </a>
        </div>
      </article>

      <article class="scanner-quicklink">
        <div class="scanner-quicklink__summary">
            <img
            src="{{ site.baseurl }}/img/2_qr_op_zak.svg"
            alt=""
            loading="lazy"
            class="scanner-quicklink__image"
            width="157"
            height="160"
            >
          <div class="scanner-quicklink__title">
            <h3>{{ site.data.[page.lang].translations.quicklinks-try }}</h3>
          </div>
          <a href="{{ site.baseurl }}{{ site.data.[page.lang].translations.quicklinks-try-url }}" class="scanner-quicklink__summary__btn-expand">
            {{ site.data.[page.lang].translations.readmore }}
            <span class="screen-reader-text"> {{ site.data.[page.lang].translations.readmore-about_screen-reader }}: {{ site.data.[page.lang].translations.quicklinks-try }}</span>
          </a>
        </div>
      </article>
  </div>
</section>
