<section class="scanner-instructions">
    <h1 class="scanner-instructions__pagetitle">{{ site.data[page.lang].translations.scanner-instructions-title }}</h1>

    <article class="scanner-instructions__step" id="step-1">
        <div class="scanner-instructions__column-image">
        <img
            src="{{ site.baseurl }}/img/scanner-instructions/scanner-instruction-1b.png"
            alt=""
            loading="lazy"
            class="scanner-instructions__image"
        >
        </div>
        <div class="scanner-instructions__column-content">
        <h2 class="scanner-instructions__title">
            {{ site.data[page.lang].translations.scanner-howto-step-1-title }}
        </h2>
        <div class="scanner-instructions__text">
            {{ site.data[page.lang].translations.scanner-howto-step-1-content  }}
        </div>
        </div>
    </article>

    <article class="scanner-instructions__step" id="step-2">
        <div class="scanner-instructions__column-image">
        <img
            src="{{ site.baseurl }}/img/scanner-instructions/scanner-instruction-2b.png"
            alt=""
            loading="lazy"
            class="scanner-instructions__image"
        >
        </div>
        <div class="scanner-instructions__column-content">
        <h2 class="scanner-instructions__title">
            {{ site.data[page.lang].translations.scanner-howto-step-2-title }}
        </h2>
        <div class="scanner-instructions__text">
            {{ site.data[page.lang].translations.scanner-howto-step-2-content  }}
        </div>
        </div>
    </article>

    <article class="scanner-instructions__step" id="step-3">
        <div class="scanner-instructions__column-image">
        <img
            src="{{ site.baseurl }}/img/scanner-instructions/scanner-instruction-3b.png"
            alt=""
            loading="lazy"
            class="scanner-instructions__image"
        >
        </div>
        <div class="scanner-instructions__column-content">
        <h2 class="scanner-instructions__title">
            {{ site.data[page.lang].translations.scanner-howto-step-3-title }}
        </h2>
        <div class="scanner-instructions__text">
            {{ site.data[page.lang].translations.scanner-howto-step-3-content  }}
        </div>
        </div>
    </article>
</section>
