
<div class="{{ include.class }}">
  {% if include.class %}
    <h2>{{ site.data[page.lang].translations.scanner-lead-title }}:</h2>
  {% endif %}
  <ul class="layout-app-badges">
    <li class="app_badge_column__left">
      <a class="app-store" href="{{ site.data.setup.scanner-app-store-url[page.lang] }}">
        <img src="{{ site.baseurl }}/img/badges/{{ site.data.setup.badge-app-store-img[page.lang] }}" 
        alt="{{ site.data.setup.header-appstore[page.lang] }}" 
        height="65" width="196"
        />
      </a>
    </li>
    <li class="app_badge_column__right">
      <a class="play-store" href="{{ site.data.setup.scanner-google-play-url[page.lang] }}">
        <img src="{{ site.baseurl }}/img/badges/{{site.data.setup.badge-google-play-img[page.lang] }}" alt="{{ site.data.setup.header-googleplaystore[page.lang] }}" height="65" width="216" />
      </a>
    </li>
    <li class="app_badge_column__right {% if include.huawei != 'true' %}huawei-only-show-mobile{% endif %}">
      {% if include.huawei == 'true' %}
      <a class="huawei-store" href="{{ site.data.setup.scanner-huawei-url[page.lang] }}">
        <img src="{{ site.baseurl }}/img/badges/{{site.data.setup.badge-huawei-img[page.lang] }}" alt="{{ site.data.setup.header-huaweiappgallery[page.lang] }}" height="65" width="216" />
      </a>
      {% endif %}
    </li>
  </ul>
</div>
