<div class="information">
  <h2 class="information-title">{{ site.data.translations.scanner-information-title[page.lang] }}</h2>

  <ul class="information-layout">
    <li class="information__block">
      <img
        src="{{ site.baseurl }}/img/information-images/naw.svg"
        alt=""
        class="information__image"
      >
      {{ site.data.translations.scanner-information-naw[page.lang] }}
    </li>
    <li class="information__block">
      <img
        src="{{ site.baseurl }}/img/information-images/gps.svg"
        alt=""
        class="information__image"
      >
      {{ site.data.translations.scanner-information-gps[page.lang] }}
    </li>
    <li class="information__block">
      <img
        src="{{ site.baseurl }}/img/information-images/gps.svg"
        alt=""
        class="information__image"
      >
      {{ site.data.translations.scanner-information-qrcode[page.lang] }}
    </li>
  </ul>
</div>
