<h2 class="instructions__title">{{ site.data[page.lang].translations.user-instructions-title }}</h2>
  <div class="instructions">
  
  <article class="instructions__step instructions__step--1" id="step-1">
    <img
      src="{{ site.baseurl }}{{ site.data.setup.coronacheck-howto-step-1-img[page.lang] }}"
      alt=""
      loading="lazy"
      class="instructions__step-image"
      width="150"
      height="298"
    >
    <div class="instructions__step-content">
      <h3 class="instructions__step-title">{{ site.data[page.lang].translations.coronacheck-howto-step-1-title }}</h3>
      </span>
      <p class="instructions__step-text" markdown="1">
        {{ site.data[page.lang].translations.coronacheck-howto-step-1-content }}
      </p>
    </div>
  </article>

  <article class="instructions__step instructions__step--2" id="step-2">
    <img
      src="{{ site.baseurl }}{{ site.data.setup.coronacheck-howto-step-2-img[page.lang] }}"
      alt=""
      loading="lazy"
      class="instructions__step-image"
      width="150"
      height="298"
    >
    <div class="instructions__step-content">
      <h3 class="instructions__step-title">{{ site.data[page.lang].translations.coronacheck-howto-step-2-title }}</h3>
      </span>
      <p class="instructions__step-text" markdown="1">
        {{ site.data[page.lang].translations.coronacheck-howto-step-2-content }}
      </p>
    </div>
  </article>

  <article class="instructions__step instructions__step--3" id="step-3">
    <img
      src="{{ site.baseurl }}{{ site.data.setup.coronacheck-howto-step-3-img[page.lang] }}"
      alt=""
      loading="lazy"
      class="instructions__step-image"
      width="150"
      height="298"
    >
    <div class="instructions__step-content">
      <h3 class="instructions__step-title">{{ site.data[page.lang].translations.coronacheck-howto-step-3-title }}</h3>
      </span>
      <p class="instructions__step-text" markdown="1">
        {{ site.data[page.lang].translations.coronacheck-howto-step-3-content }}
      </p>
    </div>
  </article>
</div>
