body {
    margin: 0;

    #app {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}

.pagewrap {
    width: 1024px;
    margin: 0 auto;
    padding: 0 20px;

    @include tablet() {
        width: 100%;
        margin: 0;
    }
}

.only-mobile {
    display: none;

    @include mobile() {
        display: initial;
    }
}

.only-desktop {
    display: initial;

    @include mobile() {
        display: none;
    }
}