body {
    margin: 0;

    #app {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}

.pagewrap {
    width: 1024px;
    margin: 0 auto;

    @include tablet() {
        width: 100%;
        margin: 0;
    }
}