.pagewrap {
    width: 940px;
    margin: 0 auto;
    padding: 0 20px;

    @include tablet() {
        width: 100%;
        margin: 0;
    }
}

.only-mobile {
    display: none;

    @include mobile() {
        display: initial;
    }
}

.only-desktop {
    display: initial;

    @include mobile() {
        display: none;
    }
}