button {
    font-family: $font-main;
    white-space: nowrap;
    background: transparent;
    border: 0;
    padding: 0;
}

.info-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;

    img {
        width: 100%;
    }
}

.button-modest {
    color: $color-coronacheck_blue;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;

    &:hover {

        @media (hover: hover) and (pointer: fine) {
            text-decoration: underline;
        }
    }
}

.button__help-button {
    margin-top: $length-s;
}