.modal{
    position:relative;

    &__container {
        .sticky-header {
            position: sticky;
            display:flex;
            flex-wrap: nowrap;
            width:100%;
            max-height: 75px;
            background-color:#fff;

            h1 {
                flex-grow:2;
            }
            .close-detail-pop-up {
                padding:0 32px;
            }
        }
    }
}
