.input__set {
    margin: $length-l 0;

    label {
        font-size: 13px;
        font-weight: 700;

        .label--side-note {
            font-weight: 400;
            color: $color-darkgrey;
            font-size: 15px;
        }
    }

    input {
        height: $length-xl;
        border: 0;
        border-bottom: 1px solid $color-mediumgrey;
        width: 100%;
        border-radius: 0;
        outline: 0;
        font-size: 16px;
        transition: border-bottom 0.3s ease;
        color: $color-coronacheck_black;
        padding: 0;

        &:focus {
            border-bottom: 1px solid $color-coronacheck_blue;
        }
    }

    .input__error {
        margin-top: 12px;
        color: $color-error;
        font-size: 13px;
        padding-left: 24px;
        position: relative;

        &:after {
            content: '!';
            position: absolute;
            left: 0;
            top: 0;
            width: 14px;
            height: 14px;
            font-size: 11px;
            line-height: 1;
            font-weight: 700;
            border-radius: 50%;
            padding-bottom: 1px;
            border: 1px solid $color-error;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}