.input__set {
    margin: 40px 0;

    .input__label {
        font-size: 14px;
    }

    input {
        height: 52px;
        border: 0;
        border-bottom: 1px solid $grey-1;
        width: 100%;
        border-radius: 0;
        outline: 0;
        font-size: 16px;

        &.input--capitals {
            text-transform: uppercase;
        }

        &:focus {
            border-bottom: 1px solid $active-color;
        }
    }

    .input__error {
        margin-top: 12px;
        color: $error-color;
        font-size: 13px;
        padding-left: 24px;
        position: relative;

        &:after {
            content: '!';
            position: absolute;
            left: 0;
            top: 0;
            width: 14px;
            height: 14px;
            font-size: 11px;
            line-height: 1;
            font-weight: 700;
            border-radius: 50%;
            padding-bottom: 1px;
            border: 1px solid $error-color;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .input__small-button {
        color: $active-color;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
    }
}