.input__set {
    margin: $length-l 0;

    label {
        font-size: 13px;
        font-weight: 700;

        .label--side-note {
            font-weight: 400;
            color: $color-darkgrey;
            font-size: 15px;
        }

        a, a:visited {
            color: $color-cc-link-darker;
        }

        a:hover, a:focus {
            color: $color-cc-link-darker--interaction;
        }
    }

    input {
        height: $length-xl;
        border: 0;
        border-bottom: 1px solid $color-darkgrey;
        width: 100%;
        border-radius: 0;
        outline: 0;
        font-size: 16px;
        transition: border-bottom 0.3s ease;
        color: $color-coronacheck_black;
        padding: 0;

        &:focus {
            border-bottom: 1px solid $color-coronacheck_blue;
        }
    }
}
