.proof-event {
    padding: $grid-x2 0;
    border-bottom: 1px solid $color-mediumgrey;
    font-size: 17px;
    margin-bottom: $grid-x2;
    position: relative;

    &:first-child {
        border-top: 1px solid $color-mediumgrey;
    }

    &__line {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }

        h2 {
            font-size: inherit;
            margin: 0;
        }
    }

    .info-button {
        position: absolute;
        right: $grid-x2;
        top: $grid-x2;
    }
}

.proof-events {
    margin: $length-l 0;
}

.proof-event__wrapper:not(:first-child) {
    display: contents;

    .proof-event {
        &:first-child {
            border-top: 0;
        }
    }
}
