.dl__section {
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }

    dd {
        font-weight: 700;
        max-width: 100%;
    }
}

.proof-event-info-item {
    padding-bottom: $length-s;
    margin-bottom: $length-s;
    border-bottom: 1px solid $color-mediumgrey;

    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}