@font-face {
    font-family: 'RO';
    src: url('/assets/fonts/RO-SansWebText-Regular.woff') format('woff'),
         url('/assets/fonts/RO-SansWebText-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'RO';
    src: url('/assets/fonts/RO-SansWebText-Bold.woff') format('woff'),
    url('/assets/fonts/RO-SansWebText-Bold.woff2') format('woff2');
    font-weight: 700;
}

$font-main: 'RO', sans-serif;
$font-headers: 'Montserrat', sans-serif;

body {
    font-family: $font-main;
    font-size: 16px;
    line-height: calc(22/16);
    color: #4F4F4F;
}

h2 {
    font-family: $font-headers;
    font-size: 32px;
    line-height: calc(39/32);
    margin-top: 0;
    margin-bottom: 24px;
    color: $black-1;
}

h3 {
    font-family: $font-headers;
    font-size: 22px;
    line-height: calc(27/22);
    margin-top: 0;
    margin-bottom: 20px;
    color: $black-1;
}