$font-main: 'RO Sans', sans-serif;
$font-headers: 'Montserrat', sans-serif;

h2 {
    font-size: 30px;
    line-height: calc(39/32);
    margin-bottom: $length-s;
}

h3 {
    font-size: 22px;
    line-height: calc(27/22);
    margin-bottom: $grid-x2;
}

p {
    margin-bottom: 16px;
}

h4 {
    font-family: $font-headers;
    font-size: 18px;
    line-height: calc(27/22);
    margin-top: 0;
    margin-bottom: $grid-x1;
    color: $color-coronacheck_black;
}

.identificatie-code {
    word-wrap: break-word;
}

@include mobile() {

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }
}