{%- assign timeslug = site.time | replace_first: " ", "T" | replace: " ", "" -%}
{%- assign langSlug = site.baseurl | append: '/' -%}
{%- if page.lang -%}
  {%- assign langSlug = site.baseurl | append: '/' | append: page.lang -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="{{page.lang}}" {% if page.lang == 'ar' %}dir="rtl"{% endif %}>
{% include open-source-comment.html %}
{% include head.html %}
<body>
  {% include header.html %}
  <main id="content"> 
 
    {% assign announcement-errors = site.announcements | where:"lang", page.lang | where:"style", "error" %}
    {% if announcement-errors.size != 0 %}
        {% for announcement in announcement-errors %}
        <div class="announcement offset-background">
          {% if announcement.title != ''  %}<h2>{{ announcement.title }}</h2>{% endif %}
          {{ announcement.content }}
        </div>
        {% endfor %}
      </div> 
    {% endif %}

    {% assign announcement-info = site.announcements | where:"lang", page.lang | where:"style", "info" %}
    {% if announcement-info.size != 0 %}
        {% for announcement in announcement-info %}
        <div class="banner offset-background">
          {% if announcement.title != '' %}<h2>{{ announcement.title }}</h2>{% endif %}
          {{ announcement.content }}
        </div>
        {% endfor %}
      </div> 
    {% endif %}
    
    {% include components/user-instructions.html %}
    {% include components/print-version.html %}
    {% include components/about-coronacheck-scanner.html %}

    {% include components/information.html %}
    {% include components/faq.html for="coronacheck" %}

  </main>
  {% include footer.html %}
</body>
</html>
