{%- assign timeslug = site.time | replace_first: " ", "T" | replace: " ", "" -%}
{%- assign langSlug = site.baseurl | append: '/' -%}
{%- if page.lang -%}
  {%- assign langSlug = site.baseurl | append: '/' | append: page.lang -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="{{page.lang}}" {% if page.lang == 'ar' %}dir="rtl"{% endif %}>
{% include open-source-comment.html %}
{% include head.html %}
<body>
  {% include header.html %}
  <main id="content"> 
 
    {% include components/announcements.html %}
    
    {% include components/how-does-coronacheck-work.html %} 

    {% include components/grant-access-with-coronacheck-scanner.html %}

    {% include components/faq.html for="coronacheck" %}

    {% include components/helpdesk.html %}

    {% include components/coronamelder.html %}

  </main>
  {% include footer.html on="homepage" %}
</body>
</html>
