{%- assign timeslug = site.time | replace_first: " ", "T" | replace: " ", "" -%}
{%- assign langSlug = site.baseurl | append: '/' -%}
{%- if page.lang -%}
  {%- assign langSlug = site.baseurl | append: '/' | append: page.lang -%}
{%- endif -%}

{% assign questionCategories = site.faqcategories-in-app | where:"lang", page.lang | sort: "questionCategory" %}

<!DOCTYPE html>
<html lang="{{page.lang}}" {% if page.lang == 'ar' %}dir="rtl"{% endif %} class="in-app">
{% include open-source-comment.html %}
{% if page.collection == 'questions-scanner-in-app' or page.domain == 'scanner' %}
  {% include head.html for="scanner" in-app="true" %}
{% else %}
  {% include head.html in-app="true" %}
{% endif %}
<body>
  <main class="content-center content-center__in_app" id="content">

    <div class="content-block content-block--faq-overview">
        <h1 id="frequently-asked-questions">{{ site.data[page.lang].translations.faq }}</h1>

        <div class="faq-categories-block faq-categories-block--{{ include.class }}">
            <ul class="faq-categories-block__list">
                {% for questionCategory in questionCategories %}
                    <li class="faq-categories__item"> 
                        <a class="faq-categories__link" href="{{ site.baseurl }}{{ questionCategory.url }}" id="{{ questionCategory.title | slugify }}">
                            <div class="faq-categories__image">
                            {% include faqcategories/{{ questionCategory.graphic }}.svg %}
                            </div>
                            <span class="faq-categories__linktext">{{ questionCategory.title }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul> 
        </div> 

    </div>
</main>

<footer>
    {% include components/helpdesk-faqs.html in-app="true" %}
</footer>

</body>
</html>
