{%- assign timeslug = site.time | replace_first: " ", "T" | replace: " ", "" -%}
{%- assign langSlug = site.baseurl | append: '/' -%}
{%- if page.lang -%}
  {%- assign langSlug = site.baseurl | append: '/' | append: page.lang -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="{{page.lang}}" {% if page.lang == 'ar' %}dir="rtl"{% endif %}>
{% include open-source-comment.html %}
{% if page.collection == 'questions-scanner-in-app' or page.domain == 'scanner' %}
  {% include head.html for="scanner" in-app="true" %}
{% else %}
  {% include head.html in-app="true" %}
{% endif %}
<body>
  <main class="content-center content-center__in_app" id="content">
    <div class="content-block">
      <h1 id="frequently-asked-questions">{{ site.data.translations.faq-coronacheck[page.lang] }}</h1>

      {% assign questionSetOne = site.questions-in-app | where:"lang", page.lang | where:"set", 1 | where:"webonly", false | sort: "index" %}
      {% assign questionSetTwo = site.questions-in-app | where:"lang", page.lang | where:"set", 2 | where:"webonly", false | sort: "index" %}
      {% assign questionSetThree = site.questions-in-app | where:"lang", page.lang | where:"set", 3 | where:"webonly", false | sort: "index" %}
      {% assign questionSetFour = site.questions-in-app | where:"lang", page.lang | where:"set", 4 | where:"webonly", false | sort: "index" %}
      {% assign questionSetFive = site.questions-in-app | where:"lang", page.lang | where:"set", 5 | where:"webonly", false | sort: "index" %}
      {% assign questionSetSix = site.questions-in-app | where:"lang", page.lang | where:"set", 6 | where:"webonly", false | sort: "index" %}
      {% assign questionSetSeven = site.questions-in-app | where:"lang", page.lang | where:"set", 7 | where:"webonly", false | sort: "index" %}

      <div {% if page.contentLang == 'en' %}lang="en" dir="ltr"{% elsif page.contentLang == 'nl' %}lang="nl"{% endif %}>
        
        {% if questionSetOne.size > 0 %}
            <h2 class="faq-layout__title" id="{{ site.data.translations.faq-category-one[page.lang]|slugify }}">{{ site.data.translations.faq-category-one[page.lang] }}</h2>

            <div class="faq-layout__contents __overview">
                <ul class="faq-layout-contents__list">
                {% for question in questionSetOne %}
                    <li>
                        <a class="faq-layout__item" href="{{ site.baseurl }}{{ question.url }}" {% if question.lang != 'ar' %}dir="ltr"{% endif %} id="{{ question.title | slugify }}">
                            {{ question.title }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if questionSetTwo.size > 0 %}
            <h2 class="faq-layout__title" id="{{ site.data.translations.faq-category-two[page.lang]|slugify }}">{{ site.data.translations.faq-category-two[page.lang] }}</h2>

            <div class="faq-layout__contents __overview">
                <ul class="faq-layout-contents__list">
                {% for question in questionSetTwo %}
                    <li>
                        <a class="faq-layout__item" href="{{ site.baseurl }}{{ question.url }}" {% if question.lang != 'ar' %}dir="ltr"{% endif %} id="{{ question.title | slugify }}">
                            {{ question.title }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if questionSetThree.size > 0 %}
            <h2 class="faq-layout__title" id="{{ site.data.translations.faq-category-three[page.lang]|slugify }}">{{ site.data.translations.faq-category-three[page.lang] }}</h2>

            <div class="faq-layout__contents __overview" {% if question.lang != 'ar' %}dir="ltr"{% endif %}>
                <ul class="faq-layout-contents__list">
                {% for question in questionSetThree %}
                    <li>
                    <a class="faq-layout__item" href="{{ site.baseurl }}{{ question.url }}" {% if question.lang != 'ar' %}dir="ltr"{% endif %} id="{{ question.title | slugify }}">
                        {{ question.title }}
                    </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if questionSetFour.size > 0 %}
            <h2 class="faq-layout__title" id="{{ site.data.translations.faq-category-four[page.lang]|slugify }}">{{ site.data.translations.faq-category-four[page.lang] }}</h2>

            <div class="faq-layout__contents __overview" {% if question.lang != 'ar' %}dir="ltr"{% endif %}>
                <ul class="faq-layout-contents__list">
                {% for question in questionSetFour %}
                {% if question.set == 4  %}
                    <li>
                    <a class="faq-layout__item" href="{{ site.baseurl }}{{ question.url }}" {% if question.lang != 'ar' %}dir="ltr"{% endif %} id="{{ question.title | slugify }}">
                        {{ question.title }}
                    </a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if questionSetFive.size > 0 %}
            <h2 class="faq-layout__title" id="{{ site.data.translations.faq-category-five[page.lang]|slugify }}">{{ site.data.translations.faq-category-five[page.lang] }}</h2>

            <div class="faq-layout__contents __overview" {% if question.lang != 'ar' %}dir="ltr"{% endif %}>
                <ul class="faq-layout-contents__list">
                {% for question in questionSetFive %}
                    <li>
                    <a class="faq-layout__item" href="{{ site.baseurl }}{{ question.url }}" {% if question.lang != 'ar' %}dir="ltr"{% endif %} id="{{ question.title | slugify }}">
                        {{ question.title }}
                    </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if questionSetSix.size > 0 %}
            <h2 class="faq-layout__title" id="{{ site.data.translations.faq-category-six[page.lang]|slugify }}">{{ site.data.translations.faq-category-six[page.lang] }}</h2>

            <div class="faq-layout__contents __overview" {% if question.lang != 'ar' %}dir="ltr"{% endif %}>
                <ul class="faq-layout-contents__list">
                {% for question in questionSetSix %}
                    <li>
                    <a class="faq-layout__item" href="{{ site.baseurl }}{{ question.url }}" {% if question.lang != 'ar' %}dir="ltr"{% endif %} id="{{ question.title | slugify }}">
                        {{ question.title }}
                    </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if questionSetSeven.size > 0 %}
            <h2 class="faq-layout__title" id="{{ site.data.translations.faq-category-seven[page.lang]|slugify }}">{{ site.data.translations.faq-category-seven[page.lang] }}</h2>

            <div class="faq-layout__contents __overview" {% if question.lang != 'ar' %}dir="ltr"{% endif %}>
                <ul class="faq-layout-contents__list">
                {% for question in questionSetSeven %}
                    <li>
                    <a class="faq-layout__item" href="{{ site.baseurl }}{{ question.url }}" {% if question.lang != 'ar' %}dir="ltr"{% endif %} id="{{ question.title | slugify }}">
                        {{ question.title }}
                    </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

      </div>
    </div>
  </main>
</body>
</html>
