{%- assign timeslug = site.time | replace_first: " ", "T" | replace: " ", "" -%}
{%- assign langSlug = site.baseurl | append: '/' -%}
{%- if page.lang -%}
  {%- assign langSlug = site.baseurl | append: '/' | append: page.lang -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="{{page.lang}}" {% if page.lang == 'ar' %}dir="rtl"{% endif %} class="in-app">
{% include open-source-comment.html %}
{% if page.collection == 'questions-scanner-in-app' or page.domain == 'scanner' %}
  {% include head.html for="scanner" in-app="true" %}
{% else %}
  {% include head.html in-app="true" %}
{% endif %}
<body>
  <main class="content-center content-center__in_app content-center--faq" id="content">
    {% if page.showBreadCrumbs %}
      {% include components/breadcrumbs.html title=page.title collection=page.collection %}
    {% endif %}

    <div class="content-block" {% if page.contentLang == 'en' %}lang="en" dir="ltr"{% elsif page.contentLang == 'nl' %}lang="nl"{% endif %}>
      {% if page.title %}<h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>{% endif %}
      {{ content }}
    </div>

    {% if page.collection == 'questions-in-app' 
    %}
      <p class="content-center__home return_link">
        <a href="{{ langSlug }}/faq-in-app#{{ page.title | slugify }}">
          <span class="icon icon-chevron-left"></span>{{ site.data[page.lang].translations.layout-template-faq }} 
        </a>
      </p>
    {% elsif page.collection == 'questions-scanner-in-app' %}
      <p class="content-center__home return_link">
        <a href="{{ langSlug }}/faq-scanner-in-app#{{ page.title | slugify }}">
          <span class="icon icon-chevron-left"></span>{{ site.data[page.lang].translations.layout-template-faq }} 
        </a>
      </p>
    {% endif %}
</main>

<footer>
    {% include components/helpdesk-faqs.html in-app="true" %}
</footer>

{% include footer-js.html %}

</body>
</html>

