{%- assign timeslug = site.time | replace_first: " ", "T" | replace: " ", "" -%}
{%- assign langSlug = site.baseurl | append: '/' -%}
{%- if page.lang -%}
  {%- assign langSlug = site.baseurl | append: '/' | append: page.lang -%}
{%- endif -%}

{% assign questionSetOne = site.questions-scanner-in-app | where:"lang", page.lang | where:"set", 1 | where:"webonly", false | sort: "index" %}
{% assign questionSetTwo = site.questions-scanner-in-app | where:"lang", page.lang | where:"set", 2 | where:"webonly", false | sort: "index" %}
{% assign questionSetThree = site.questions-scanner-in-app | where:"lang", page.lang | where:"set", 3 | where:"webonly", false | sort: "index" %}
{% assign questionSetFour = site.questions-scanner-in-app | where:"lang", page.lang | where:"set", 4 | where:"webonly", false | sort: "index" %}

<!DOCTYPE html>
<html lang="{{page.lang}}" {% if page.lang == 'ar' %}dir="rtl"{% endif %} class="in-app">
{% include open-source-comment.html %}
{% if page.collection == 'questions-scanner-in-app' or page.domain == 'scanner' %}
  {% include head.html for="scanner" in-app="true" %}
{% else %}
  {% include head.html in-app="true" %}
{% endif %}
<body>
  <main class="content-center content-center__in_app" id="content">
    <div class="content-block">
        <h1 id="frequently-asked-questions">
            {{ site.data[page.lang].translations.faq-scanner }}
        </h1> 

        <div {% if page.contentLang == 'en' %}lang="en" dir="ltr"{% elsif page.contentLang == 'nl' %}lang="nl"{% endif %}>
     
        {% if questionSetOne.size > 0 %}
            <h2 class="faq-layout__title" id="{{ site.data[page.lang].translations.faq-scanner-category-one[page.lang]|slugify }}">{{ site.data[page.lang].translations.faq-scanner-category-one }}</h2>

            <div class="faq-layout__contents __overview">
                <ul class="faq-layout-contents__list">
                {% for question in questionSetOne %}
                    {% if question.whichversion contains site.version %}
                        <li>
                            <a class="faq-layout__item" href="{{ site.baseurl }}{{ question.url }}" {% if question.lang != 'ar' %}dir="ltr"{% endif %} id="{{ question.title | slugify }}">
                                {{ question.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if questionSetTwo.size > 0 %}
            <h2 class="faq-layout__title" id="{{ site.data[page.lang].translations.faq-scanner-category-two[page.lang]|slugify }}">{{ site.data[page.lang].translations.faq-scanner-category-two }}</h2>

            <div class="faq-layout__contents __overview">
                <ul class="faq-layout-contents__list">
                {% for question in questionSetTwo %}
                    {% if question.whichversion contains site.version %}
                        <li>
                            <a class="faq-layout__item" href="{{ site.baseurl }}{{ question.url }}" {% if question.lang != 'ar' %}dir="ltr"{% endif %} id="{{ question.title | slugify }}">
                                {{ question.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if questionSetThree.size > 0 %}
            <h2 class="faq-layout__title" id="{{ site.data[page.lang].translations.faq-category-scanner-three[page.lang]|slugify }}">{{ site.data[page.lang].translations.faq-scanner-category-three }}</h2>

            <div class="faq-layout__contents __overview" {% if question.lang != 'ar' %}dir="ltr"{% endif %}>
                <ul class="faq-layout-contents__list">
                {% for question in questionSetThree %}
                    {% if question.whichversion contains site.version %}
                        <li>
                            <a class="faq-layout__item" href="{{ site.baseurl }}{{ question.url }}" {% if question.lang != 'ar' %}dir="ltr"{% endif %} id="{{ question.title | slugify }}">
                                {{ question.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if questionSetFour.size > 0 %}
            <h2 class="faq-layout__title" id="{{ site.data[page.lang].translations.faq-scanner-category-four[page.lang]|slugify }}">{{ site.data[page.lang].translations.faq-scanner-category-four }}</h2>

            <div class="faq-layout__contents __overview" {% if question.lang != 'ar' %}dir="ltr"{% endif %}>
                <ul class="faq-layout-contents__list">
                {% for question in questionSetFour %}
                    {% if question.whichversion contains site.version %}
                        <li>
                            <a class="faq-layout__item" href="{{ site.baseurl }}{{ question.url }}" {% if question.lang != 'ar' %}dir="ltr"{% endif %} id="{{ question.title | slugify }}">
                                {{ question.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        {% endif %}


      </div>
    </div>

    {% include components/helpdesk-faqs.html in-app="true" %}
</main>

</body>
</html>
