{%- assign timeslug = site.time | replace_first: " ", "T" | replace: " ", "" -%}
{%- assign langSlug = site.baseurl | append: '/' -%}
{%- if page.lang -%}
  {%- assign langSlug = site.baseurl | append: '/' | append: page.lang -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="{{page.lang}}" {% if page.lang == 'ar' %}dir="rtl"{% endif %}>
{% include open-source-comment.html %}
{% include head.html for="scanner" %}
<body class="scanner-{{ site.version }} content-{{ site.version }}">
  {% include header-scanner.html  %}
    {% if site.version == "offline" %}
        <main id="content" class="offset-background">
            <div class="container">
                <div class="header__layout header__layout--scanner">
                    <div class="header__layout--image">
                        {% if site.version == "offline" %}
                            <img src="{{ site.baseurl }}{{ site.data.setup.scanner-header-out-of-order[page.lang] }}" alt="" width="74" height="150">
                        {% else %}
                            <img src="{{ site.baseurl }}{{ site.data.setup.scanner-header-img[page.lang] }}" alt="" width="250" height="319">
                        {% endif %}
                    </div>
                    <div class="header__layout--content">
                        <h1 class="header__title">
                            {{ site.data[page.lang][site.version].scanner-header-title }}
                        </h1>
                        <p>{{ site.data[page.lang][site.version].scanner-header-subtitle }}</p>
                        
                        {% if site.version != "offline" %}
                            {% include components/scanner-badges.html %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>
      {% else %}
        <main id="content">
            {% include components/scanner-quicklinks.html version="1g" %}

            {% include components/faq.html for="scanner" version="1g" %}

            {% include components/scanner-badges.html class="layout-app-badges--center-wrap" %}

            {% include components/helpdesk.html for="scanner" %}
        </main>
      {% endif %}
  {% include footer.html  for="scanner" %}
</body>
</html>
