{%- assign timeslug = site.time | replace_first: " ", "T" | replace: " ", "" -%}
{%- assign langSlug = site.baseurl | append: '/' -%}
{%- if page.lang -%}
  {%- assign langSlug = site.baseurl | append: '/' | append: page.lang -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="{{page.lang}}" {% if page.lang == 'ar' %}dir="rtl"{% endif %}>
{% include open-source-comment.html %}
{% include head.html %}
<body>
  {% if page.collection == 'questions-scanner' or page.domain == 'scanner' %}
    {% include header-slim.html for="scanner" %}
  {% else %}
    {% include header-slim.html %}
  {% endif %}
  
  <main class="content-center" id="content">
    {% if page.showBreadCrumbs %}
      {% include components/breadcrumbs.html title=page.title collection=page.collection %}
    {% endif %}

    {% if page.showHomeBtn %}
      <p class="content-center__home return_link">
        <a href="{{ langSlug }}">
          <span class="icon icon-chevron-left"></span>{{ site.data[page.lang].translations.layout-template-home }}
        </a>
      </p>
    {% endif %}
    
    <div class="content-block content-block--graphs" {% if page.contentLang == 'en' %}lang="en" dir="ltr"{% elsif page.contentLang == 'nl' %}lang="nl"{% endif %}>
      <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
      
      <div class="division">
        {{ content }}

        <p>Figures up to and including Friday, April 22, 2022.</p>

        <div class="CoronaCheck_downloads column-2"> 
            <div>
                <h2 class="downloads_title">People who downloaded CoronaCheck:</h2>
                <p><span class="number_highlight" id="downloads_cc_number">15,98 million</span> downloads.</p>
                <p>The chart shows the number of people who downloaded the CoronaCheck app.</p>
            </div>
            <div id="CoronaCheck_downloads_plot">
                <img src="{{ site.baseurl }}/img/coronacheck-stats-en.svg" alt="CoronaCheck downloads chart. The line chart shows an explosive growth in downloads between june and july of 2021. The growth line continues to rise steeply, with a rebound between september and october 2021." class="graph" width="480" height="320">

                <details class="details">
                    <summary><h3>Source data chart</h3></summary>
                    <table>
                        <caption>
                            Number of downloads CoronaCheck
                        </caption>
                        <thead> 
                            <tr>
                                <th>Weeknumber</th>
                                <th>Number of downloads</th>
                            </tr>
                        </thead>
                        <tbody id="downloads_cc_table"> 
                        </tbody>
                    </table>
                </details>
            </div>
        </div>
        <div class="CoronaCheckScanner_downloads column-2"> 
            <div>
                <h2 class="downloads_title">Number of CoronaCheck Scanner downloads:</h2>
                <p><span class="number_highlight" id="downloads_ccs_number">3,1 million</span> downloads.</p>
                <p>With CoronaCheck Scanner, you can check the validity of a visitor’s coronavirus pass. The app is used for access to some locations and activities.</p>
                <p>The chart shows how many people downloaded the CoronaCheck Scanner.</p>
            </div>
            <div id="CoronaCheckScanner_downloads_plot">
                <img src="{{ site.baseurl }}/img/coronacheck-scanner-stats-en.svg" alt="CoronaCheck Scanner downloads chart. The line chart shows an explosive growth in downloads between june and july 2021. The growth line continues to rise steeply, with a rebound in september, and again in november." class="graph" width="480" height="320">

                <details class="details">
                    <summary><h3>Source data chart</h3></summary>
                    <table>
                        <caption>
                            Number of downloads CoronaCheck
                        </caption>
                        <thead> 
                            <tr>
                                <th>Weeknumber</th>
                                <th>Number of downloads</th>
                            </tr>
                        </thead>
                        <tbody id="downloads_ccs_table">
                        </tbody>
                    </table>
                </details>
            </div>
        </div>
    </div>
    
  </main> 

  
    <script type="text/javascript" src="/js/statistics/coronacheck-downloads.js"></script>
    <script type="text/javascript" src="/js/statistics/scanner-downloads.js"></script>

    <script> 
        downloads_cc_number = document.getElementById('downloads_cc_number');
        downloads_ccs_number = document.getElementById('downloads_ccs_number');

        const cc_table = document.getElementById("downloads_cc_table");
        const ccs_table = document.getElementById("downloads_ccs_table");
         
        function constructTable(selectedData, selected_table) {
            // loop through all the data objects in the requested JSON
            for (let i = 0; i < selectedData.length; i++) {
                // store object in a variable
                const statsObject = Object.values(selectedData[i]);

                // turn today's date into a string we can compare to a date string in the JSON
                const today = new Date();
                const currentMonthYear = today.toLocaleString("en", { "month": "numeric" }) + today.toLocaleString("en", { "year": "numeric" });
                const dataMonthYear = statsObject[0].toLocaleString("en", { "month": "numeric" }) + statsObject[0].toLocaleString("en", { "year": "numeric" });

                // get the number of key value pairs
                let number_of_key_value_pairs = Object.values(selectedData[i]).length;

                // convert the value shown in the table column later
                function getColumnValue(valueID) {
                    if (typeof(statsObject[valueID]) == 'number') {
                        columnValue = Math.round(statsObject[valueID]);
                        return new Intl.NumberFormat('en-GB', {  }).format(columnValue)
                    } else {
                        return statsObject[valueID];
                    }
                }

                // create a row string, adding html and content to it
                let statsRow = ``;
                 
                statsRow += `<tr>`;

                statsRow += `<td>
                    ${statsObject[0].toLocaleString("en", { "day": "numeric", "month": "long", "year": "numeric" })} 
                </td>`;

                for (let j = 1; j < number_of_key_value_pairs; j++) {
                    statsRow += `<td>${getColumnValue(j)}</td>`
                }

                statsRow += `</tr>`;
                selected_table.innerHTML += statsRow;

            }
        }

        function updateStatisticNumber(selectedData, selectedKey, selectedElement) {
            for (let i = 0; i < selectedData.length; i++) {
                if (i == (selectedData.length -1)) {
                    function getValue(valueID) {
                        valueToGet = Math.round(valueID);
                        return new Intl.NumberFormat('en-GB', {  }).format(valueToGet)
                    }
                
                    statisticNumber = getValue(selectedData[i][selectedKey]);
                }
            } 

            selectedElement.innerHTML = statisticNumber;
        }

        // constructTable(selectedData, selected_table) 
        constructTable(CC_downloads_plot, cc_table);
        constructTable(CCScanner_downloads_plot, ccs_table);

        // updateStatisticNumber(selectedData, selectedKey, selectedElement) 
        updateStatisticNumber(CC_downloads_plot, 'downloads', downloads_cc_number);
        updateStatisticNumber(CCScanner_downloads_plot, 'downloads', downloads_ccs_number);
        
    </script>

    {% include footer.html %} 
</body>
</html>
