{%- assign timeslug = site.time | replace_first: " ", "T" | replace: " ", "" -%}
{%- assign langSlug = site.baseurl | append: '/' -%}
{%- if page.lang -%}
  {%- assign langSlug = site.baseurl | append: '/' | append: page.lang -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="{{page.lang}}" {% if page.lang == 'ar' %}dir="rtl"{% endif %}>
{% include open-source-comment.html %}
{% include head.html %}
<body>
  {% if page.collection == 'questions-scanner' or page.domain == 'scanner' %}
    {% include header-slim.html for="scanner" %}
  {% else %}
    {% include header-slim.html %}
  {% endif %}
  
  <main class="content-center" id="content">
    {% if page.showBreadCrumbs %}
      {% include components/breadcrumbs.html title=page.title collection=page.collection %}
    {% endif %}

    {% if page.showHomeBtn %}
      <p class="content-center__home return_link">
        <a href="{{ langSlug }}">
          <span class="icon icon-chevron-left"></span>{{ site.data.translations.layout-template-home[page.lang] }}
        </a>
      </p>
    {% endif %}
    
    <div class="content-block" {% if page.contentLang == 'en' %}lang="en" dir="ltr"{% elsif page.contentLang == 'nl' %}lang="nl"{% endif %}>
      <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
      
      <div class="division">
        {{ content }}
    
        <div class="CoronaCheck_downloads column-2"> 
            <div>
                <p>Mensen die CoronaCheck hebben gedownload:<br />
                <span class="number_highlight">14,10 miljoen</span> downloads.</p>
                <p>De grafiek laat zien hoeveel mensen de CoronaCheck-app hebben gedownload.</p>
            </div>
            <div id="CoronaCheck_downloads_plot">
                <img src="{{ site.baseurl }}/img/coronacheck-stats.svg" alt="Grafiek downloads CoronaCheck. In de lijngrafiek is te zien dat in week 24 een explosieve groei van downloads ontstaat. De
                groeilijn blijft steil stijgen, met een opleving in week 36 en 37." class="graph" width="480" height="320">

                <details>
                    <summary>Brongegevens grafiek</summary>
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Downloads CoronaCheck</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Weeknummer</th>
                                <th>Aantal downloads</th>
                            </tr>
                            <tr>
                                <td>Week 12</td>
                                <td>4947</td>
                            </tr>
                            <tr>
                                <td>Week 13</td>
                                <td>5498</td>
                            </tr>
                            <tr>
                                <td>Week 14</td>
                                <td>31850</td>
                            </tr>
                            <tr>
                                <td>Week 15</td>
                                <td>77591</td>
                            </tr>
                            <tr>
                                <td>Week 16</td>
                                <td>120887</td>
                            </tr>
                            <tr>
                                <td>Week 17</td>
                                <td>135732</td>
                            </tr>
                            <tr>
                                <td>Week 18</td>
                                <td>150473</td>
                            </tr>
                            <tr>
                                <td>Week 19</td>
                                <td>161449</td>
                            </tr>
                            <tr>
                                <td>Week 20</td>
                                <td>221506</td>
                            </tr>
                            <tr>
                                <td>Week 21</td>
                                <td>250947</td>
                            </tr>
                            <tr>
                                <td>Week 22</td>
                                <td>369260</td>
                            </tr>
                            <tr>
                                <td>Week 23</td>
                                <td>518629</td>
                            </tr>
                            <tr>
                                <td>Week 24</td>
                                <td>947275</td>
                            </tr>
                            <tr>
                                <td>Week 25</td>
                                <td>3.046229</td>
                            </tr>
                            <tr>
                                <td>Week 26</td>
                                <td>4.559032</td>
                            </tr>
                            <tr>
                                <td>Week 27</td>
                                <td>5.494752</td>
                            </tr>
                            <tr>
                                <td>Week 28</td>
                                <td>6.337007</td>
                            </tr>
                            <tr>
                                <td>Week 29</td>
                                <td>7.006621</td>
                            </tr>
                            <tr>
                                <td>Week 30</td>
                                <td>7.628880</td>
                            </tr>
                            <tr>
                                <td>Week 31</td>
                                <td>8.226583</td>
                            </tr>
                            <tr>
                                <td>Week 32</td>
                                <td>8.756426</td>
                            </tr>
                            <tr>
                                <td>Week 33</td>
                                <td>9.138598</td>
                            </tr>
                            <tr>
                                <td>Week 34</td>
                                <td>9.446082</td>
                            </tr>
                            <tr>
                                <td>Week 35</td>
                                <td>9.745140</td>
                            </tr>
                            <tr>
                                <td>Week 36</td>
                                <td>10.048297</td>
                            </tr>
                            <tr>
                                <td>Week 37</td>
                                <td>10.798244</td>
                            </tr>
                            <tr>
                                <td>Week 38</td>
                                <td>11.583967</td>
                            </tr>
                            <tr>
                                <td>Week 39</td>
                                <td>12.127703</td>
                            </tr>
                            <tr>
                                <td>Week 40</td>
                                <td>12.449551</td>
                            </tr>
                            <tr>
                                <td>Week 41</td>
                                <td>12.721065</td>
                            </tr>
                            <tr>
                                <td>Week 42</td>
                                <td>12.987812</td>
                            </tr>
                            <tr>
                                <td>Week 43</td>
                                <td>13.206963</td>
                            </tr>
                            <tr>
                                <td>Week 44</td>
                                <td>13.516537</td>
                            </tr>
                            <tr>
                                <td>Week 45</td>
                                <td>13.753475</td>
                            </tr>
                            <tr>
                                <td>Week 46</td>
                                <td>13.926691</td>
                            </tr> 
                            <tr>
                                <td>Week 47</td>
                                <td>14.101764</td>
                            </tr>
                        </tbody>
                    </table>
                </details>
            </div>
        </div>
        <div class="CoronaCheckScanner_downloads column-2"> 
            <div>
                <p>Aantal downloads van de CoronaCheck Scanner:<br />
                <span class="number_highlight">2,50 miljoen</span> downloads.</p>
                <p>Met de CoronaCheck Scanner-app controleer je de geldigheid van een coronabewijs van een bezoeker. De app wordt gebruikt voor toegang tot sommige locaties en activiteiten.</p>
                <p>De grafiek laat zien hoeveel mensen de CoronaCheck Scanner hebben gedownload.</p>
            </div>
            <div id="CoronaCheckScanner_downloads_plot">
                <img src="{{ site.baseurl }}/img/coronacheck-scanner-stats.svg" alt="Grafiek downloads CoronaCheck Scanner. In de lijngrafiek is te zien dat in week 24 een explosieve groei van downloads ontstaat. De
                groeilijn blijft steil stijgen, met een opleving in week 36 en 37." class="graph" width="480" height="320">

                <details>
                    <summary>Brongegevens grafiek</summary>
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">Downloads CoronaCheck</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Weeknummer</th>
                                <th>Aantal downloads</th>
                            </tr>
                            <tr>
                                <td>Week 12</td>
                                <td>237</td>
                            </tr>
                            <tr>
                                <td>Week 13</td>
                                <td>331</td>
                            </tr>
                            <tr>
                                <td>Week 14</td>
                                <td>1934</td>
                            </tr>
                            <tr>
                                <td>Week 15</td>
                                <td>3730</td>
                            </tr>
                            <tr>
                                <td>Week 16</td>
                                <td>5458</td>
                            </tr>
                            <tr>
                                <td>Week 17</td>
                                <td>6398</td>
                            </tr>
                            <tr>
                                <td>Week 18</td>
                                <td>7378</td>
                            </tr>
                            <tr>
                                <td>Week 19</td>
                                <td>8142</td>
                            </tr>
                            <tr>
                                <td>Week 20</td>
                                <td>13578</td>
                            </tr>
                            <tr>
                                <td>Week 21</td>
                                <td>17016</td>
                            </tr>
                            <tr>
                                <td>Week 22</td>
                                <td>26904</td>
                            </tr>
                            <tr>
                                <td>Week 23</td>
                                <td>33952</td>
                            </tr>
                            <tr>
                                <td>Week 24</td>
                                <td>53821</td>
                            </tr>
                            <tr>
                                <td>Week 25</td>
                                <td>262348</td>
                            </tr>
                            <tr>
                                <td>Week 26</td>
                                <td>397372</td>
                            </tr>
                            <tr>
                                <td>Week 27</td>
                                <td>491841</td>
                            </tr>
                            <tr>
                                <td>Week 28</td>
                                <td>554220</td>
                            </tr>
                            <tr>
                                <td>Week 29</td>
                                <td>601111</td>
                            </tr>
                            <tr>
                                <td>Week 30</td>
                                <td>641847</td>
                            </tr>
                            <tr>
                                <td>Week 31</td>
                                <td>679457</td>
                            </tr>
                            <tr>
                                <td>Week 32</td>
                                <td>720303</td>
                            </tr>
                            <tr>
                                <td>Week 33</td>
                                <td>752788</td>
                            </tr>
                            <tr>
                                <td>Week 34</td>
                                <td>781461</td>
                            </tr>
                            <tr>
                                <td>Week 35</td>
                                <td>811810</td>
                            </tr>
                            <tr>
                                <td>Week 36</td>
                                <td>844162</td>
                            </tr>
                            <tr>
                                <td>Week 37</td>
                                <td>978263</td>
                            </tr>
                            <tr>
                                <td>Week 38</td>
                                <td>1.215228</td>
                            </tr>
                            <tr>
                                <td>Week 39</td>
                                <td>1.397778</td>
                            </tr>
                            <tr>
                                <td>Week 40</td>
                                <td>1.497258</td>
                            </tr>
                            <tr>
                                <td>Week 41</td>
                                <td>1.594784</td>
                            </tr>
                            <tr>
                                <td>Week 42</td>
                                <td>1.675985</td>
                            </tr>
                            <tr>
                                <td>Week 43</td>
                                <td>1.778053</td>
                            </tr>
                            <tr>
                                <td>Week 44</td>
                                <td>2.082709</td>
                            </tr>
                            <tr>
                                <td>Week 45</td>
                                <td>2.293167</td>
                            </tr>
                            <tr>
                                <td>Week 46</td>
                                <td>2.419318</td>
                            </tr> 
                            <tr>
                                <td>Week 47</td>
                                <td>2.505017</td>
                            </tr> 
                        </tbody>
                    </table>
                </details>
            </div>
        </div>
    </div>

  </main> 
    {% include footer.html %} 
</body>
</html>
