{%- assign timeslug = site.time | replace_first: " ", "T" | replace: " ", "" -%}
{%- assign langSlug = site.baseurl | append: '/' -%}
{%- if page.lang -%}
  {%- assign langSlug = site.baseurl | append: '/' | append: page.lang -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="{{page.lang}}" {% if page.lang == 'ar' %}dir="rtl"{% endif %} class="in-app">
{% include open-source-comment.html %}
{% include head.html %}
<body>
  <main class="content-center content-center__in_app content-center--faq" id="content">
    {% if page.showBreadCrumbs %}
      {% include components/breadcrumbs.html title=page.title collection=page.collection %}
    {% endif %}

    {% if page.showHomeBtn %}
      <p class="content-center__home return_link">
        <a href="{{ langSlug }}">
          <span class="icon icon-chevron-left"></span>{{ site.data[page.lang].translations.layout-template-home }}
        </a>
      </p>
    {% endif %}
    
    <div class="content-block content-block--graphs" {% if page.contentLang == 'en' %}lang="en" dir="ltr"{% elsif page.contentLang == 'nl' %}lang="nl"{% endif %}>
      <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
      
      <div class="division">
        {{ content }}

        <p>Cijfers tot en met vrijdag 7 april 2023.</p>

        <div class="CoronaCheck_downloads column-2"> 
            <div>
                <h2 class="downloads_title">Mensen die CoronaCheck hebben gedownload:</h2>
                <p><span class="number_highlight" id="downloads_cc_number">17,6 miljoen</span> downloads.</p>
                <p>De grafiek laat zien hoeveel mensen de CoronaCheck-app hebben gedownload.</p>
            </div>
            <div id="CoronaCheck_downloads_plot">
                <img src="{{ site.baseurl }}/img/coronacheck-stats.svg" alt="Grafiek downloads CoronaCheck. In de lijngrafiek is te zien dat in juni 2021 een explosieve groei van downloads ontstaat. De explosieve groei stopt in oktober 2021 waarna het aantal downloads blijft stijgen maar op een lager tempo met een kleine opleving in februari 2022." class="graph" width="480" height="320">

                <details class="details">
                    <summary><h3>Brongegevens grafiek</h3></summary>
                    <table>
                        <caption>
                            Downloads CoronaCheck 
                        </caption>
                        <thead>
                            <tr>
                                <th>Datum</th>
                                <th>Aantal downloads</th>
                            </tr>
                        </thead>
                        <tbody id="downloads_cc_table">
                        </tbody>
                    </table>
                </details>
            </div>
        </div>
        <div class="CoronaCheckScanner_downloads column-2"> 
            <div>
                <h2 class="downloads_title">Aantal downloads van de CoronaCheck Scanner:</h2>
                <p><span class="number_highlight" id="downloads_ccs_number">3,32 miljoen</span> downloads.</p>
                <p>Met de CoronaCheck Scanner-app controleer je de geldigheid van een coronabewijs van een bezoeker. De app wordt gebruikt voor toegang tot sommige locaties en activiteiten.</p>
                <p>De grafiek laat zien hoeveel mensen de CoronaCheck Scanner hebben gedownload.</p>
            </div>
            <div id="CoronaCheckScanner_downloads_plot">
                <img src="{{ site.baseurl }}/img/coronacheck-scanner-stats.svg" alt="Grafiek downloads CoronaCheck Scanner. In de lijngrafiek is te zien dat in juni 2021 een explosieve groei van downloads ontstaat. De groeilijn blijft steil stijgen, met een opleving in september 2021, in november 2021 en in februari 2022. Daarna remt de groei af." class="graph" width="480" height="320">

                <details class="details">
                    <summary><h3>Brongegevens grafiek</h3></summary>
                    <table>
                        <caption>
                            Downloads CoronaCheck Scanner
                        </caption>
                        <thead>
                            <tr>
                                <th>Datum</th>
                                <th>Aantal downloads</th>
                            </tr>
                        </thead>
                        <tbody id="downloads_ccs_table">
                        </tbody>
                    </table>
                </details>
            </div>
        </div>
    </div>
     
  </main> 
    
<footer>
    {% include components/helpdesk-faqs.html in-app="true" %}
</footer>

    <script type="text/javascript" src="/js/statistics/coronacheck-downloads.js"></script>
    <script type="text/javascript" src="/js/statistics/scanner-downloads.js"></script>

    <script> 
        downloads_cc_number = document.getElementById('downloads_cc_number');
        downloads_ccs_number = document.getElementById('downloads_ccs_number');

        const cc_table = document.getElementById("downloads_cc_table");
        const ccs_table = document.getElementById("downloads_ccs_table");
         
        function constructTable(selectedData, selected_table) {
            // loop through all the data objects in the requested JSON
            for (let i = 0; i < selectedData.length; i++) {
                // store object in a variable
                const statsObject = Object.values(selectedData[i]);

                // turn today's date into a string we can compare to a date string in the JSON
                const today = new Date();
                const currentMonthYear = today.toLocaleString("nl", { "month": "numeric" }) + today.toLocaleString("nl", { "year": "numeric" });
                const dataMonthYear = statsObject[0].toLocaleString("nl", { "month": "numeric" }) + statsObject[0].toLocaleString("nl", { "year": "numeric" });

                // get the number of key value pairs
                let number_of_key_value_pairs = Object.values(selectedData[i]).length;

                // convert the value shown in the table column later
                function getColumnValue(valueID) {
                    if (typeof(statsObject[valueID]) == 'number') {
                        columnValue = Math.round(statsObject[valueID]);
                        return new Intl.NumberFormat('nl-NL', {  }).format(columnValue)
                    } else {
                        return statsObject[valueID];
                    }
                }

                // add an asterisk if the current month is the last month in the JSON
                if (dataMonthYear === currentMonthYear) {
                    // statsIncomplete += `*`;
                } else {
                    statsIncomplete = ``;
                }

                // create a row string, adding html and content to it
                let statsRow = ``;
                 
                statsRow += `<tr>`;

                statsRow += `<td>
                    ${statsObject[0].toLocaleString("nl", { "day": "numeric", "month": "long", "year": "numeric" })} 
                    ${statsIncomplete}
                </td>`;

                for (let j = 1; j < number_of_key_value_pairs; j++) {
                    statsRow += `<td>${getColumnValue(j)}</td>`
                }

                statsRow += `</tr>`;
                selected_table.innerHTML += statsRow;

            }
        }

        function updateStatisticNumber(selectedData, selectedKey, selectedElement) {
            for (let i = 0; i < selectedData.length; i++) {
                if (i == (selectedData.length -1)) {
                    function getValue(valueID) {
                        valueToGet = Math.round(valueID);
                        return new Intl.NumberFormat('nl-NL', {  }).format(valueToGet)
                    }
                
                    statisticNumber = getValue(selectedData[i][selectedKey]);
                }
            } 

            selectedElement.innerHTML = statisticNumber;
        }

        // constructTable(selectedData, selected_table) 
        constructTable(CC_downloads_plot, cc_table);
        constructTable(CCScanner_downloads_plot, ccs_table);

        // updateStatisticNumber(selectedData, selectedKey, selectedElement) 
        updateStatisticNumber(CC_downloads_plot, 'downloads', downloads_cc_number);
        updateStatisticNumber(CCScanner_downloads_plot, 'downloads', downloads_ccs_number);
        
    </script>
</body>
</html>
