{%- assign timeslug = site.time | replace_first: " ", "T" | replace: " ", "" -%}
{%- assign langSlug = site.baseurl | append: '/' -%}
{%- if page.lang -%}
  {%- assign langSlug = site.baseurl | append: '/' | append: page.lang -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="{{page.lang}}" {% if page.lang == 'ar' %}dir="rtl"{% endif %}>
{% include open-source-comment.html %}
{% include head.html %}

<style>
    svg {
        font-family: 'RO Sans', sans-serif; 
        font-size: 14px;
    }

    svg line[stroke-opacity] {
        stroke-opacity: 1;
        stroke: #949494;
    }

    @media (prefers-color-scheme: dark) {
        svg { 
            background-color: black;
            color: white;
        }

        line[stroke-opacity] {
            color: white;
        }
    }
</style>
<body>
    <script type="text/javascript" src="/js/statistics/coronacheck-downloads.js"></script>
    <script type="text/javascript" src="/js/statistics/scanner-downloads.js"></script>

    <script> 
        const pageLang = `{{ page.lang }}`;

        const ccdownloads_graphalt = `{{ site.data.statistics.ccdownloads_graphalt[page.lang] }}`;
        const ccsdownloads_graphalt = `{{ site.data.statistics.ccsdownloads_graphalt[page.lang] }}`;
    </script>

    <script type="text/javascript" src="/js/vendors/d3_7.min.js" defer></script>
    <script type="text/javascript" src="/js/vendors/observable_plot_02.min.js" defer></script>

    {% if page.collection == 'questions-in-app'
        or page.collection == 'questions-scanner-in-app' %} 
        <!-- no header -->
    {% elsif page.collection == 'questions-scanner' or page.domain == 'scanner' %}
        {% include header-slim.html for="scanner" %}
    {% else %}
        {% include header-slim.html %}
    {% endif %}
  
    <main class="content-center" id="content">

    {% if page.showBreadCrumbs %}
      {% include components/breadcrumbs.html title=page.title collection=page.collection %}
    {% endif %}

    {% if page.showHomeBtn %}
      <p class="content-center__home return_link">
        <a href="{{ langSlug }}">
          <span class="icon icon-chevron-left"></span>{{ site.data[page.lang].translations.layout-template-home }}
        </a>
      </p>
    {% endif %}
    
    <div class="content-block content-block--graphs" {% if page.contentLang == 'en' %}lang="en" dir="ltr"{% elsif page.contentLang == 'nl' %}lang="nl"{% endif %}>
      <h1 id="{{ page.title | slugify }}">{{ page.title }}</h1>
      
      <div class="division">
        {{ content }}

        <noscript>
            <p>{{ site.data[page.lang].translations.dashboard-noscript-description }}</p>
        </noscript>

        <div id="js_generated_content" hidden>
            <p>{{ site.data.statistics.lastupdated[page.lang] }} 
                <span id="lastUpdate"></span>.
            </p>

            <div class="CoronaCheck_downloads column-2"> 
                <div>
                    <h2 class="downloads_title">{{ site.data.statistics.ccdownloads[page.lang] }}</h2>
                    <p><span class="number_highlight" id="downloads_cc_number">17,6 {{ site.data.statistics.million[page.lang] }}</span> {{ site.data.statistics.downloads[page.lang] }}.</p>
                    <p>{{ site.data.statistics.ccdownloads_graphexplained[page.lang] }}</p>
                </div>
                <div> 
                    <div id="CoronaCheck_downloads_plot_{{page.lang}}" class="graph"></div>

                    <details class="details">
                        <summary>
                            <h3>{{ site.data.statistics.tableheader[page.lang] }} 
                                <span>{{ site.data.statistics.tableheader_reference[page.lang] }}</span>
                            </h3>
                        </summary>
                        <table>
                            <caption>
                                {{ site.data.statistics.tablecaption[page.lang] }}
                            </caption>
                            <thead>
                                <tr>
                                    <th>{{ site.data.statistics.table_weeknumber[page.lang] }}</th>
                                    <th>{{ site.data.statistics.table_downloadnumber[page.lang] }}</th>
                                </tr>
                            </thead>
                            <tbody id="downloads_cc_table">
                            </tbody>
                        </table>
                    </details>
                </div>
            </div>
            <div class="CoronaCheckScanner_downloads column-2"> 
                <div>
                    <h2 class="downloads_title">{{ site.data.statistics.ccsdownloads[page.lang] }}</h2>
                    <p><span class="number_highlight" id="downloads_ccs_number">3,32 {{ site.data.statistics.million[page.lang] }}</span> {{ site.data.statistics.downloads[page.lang] }}.</p>
                    <p>{{ site.data.statistics.ccsdownloads_graphexplained[page.lang] }}</p>
                </div>
                <div>
                    <div id="CoronaCheckScanner_downloads_plot_{{page.lang}}" class="graph"></div>

                    <details class="details">
                        <summary>
                            <h3>{{ site.data.statistics.tableheader[page.lang] }} 
                                <span>{{ site.data.statistics.tableheader_reference[page.lang] }}</span>
                            </h3>
                        </summary>
                        <table>
                            <caption>
                                {{ site.data.statistics.tablecaption[page.lang] }} Scanner
                            </caption>
                            <thead>
                                <tr>
                                    <th>{{ site.data.statistics.table_weeknumber[page.lang] }}</th>
                                    <th>{{ site.data.statistics.table_downloadnumber[page.lang] }}</th>
                                </tr>
                            </thead>
                            <tbody id="downloads_ccs_table">
                            </tbody>
                        </table>
                    </details>
                </div>
            </div>
        </div>
    </div>
     
    </main> 

    {% if page.collection == 'questions-in-app'
    or page.collection == 'questions-scanner-in-app' %} 
    <footer>
        {% include components/helpdesk-faqs.html in-app="true" %}
    </footer>
    {% else %}
        {% include footer.html %} 
    {% endif %}

    <script type="text/javascript" src="/js/build-statistics-page.js" defer></script>
</body>
</html>
